{% load i18n %}
<div style="width:80%">
  {% for field in action_form %}
  <label class="input-control select">
    <span class="help">{{ field.label }}</span>
    {{ field }}
  </label>
  {% endfor %}
  <button type="submit" class="button" name="index" value="{{ action_index|default:0 }}">Выполнить</button>
</div>

{% if actions_selection_counter %}
  <script type="text/javascript">var _actions_icnt="{{ cl.result_list|length|default:"0" }}";</script>
  <small class="action-counter">{{ selection_note }}</small>
  {% if cl.result_count != cl.result_list|length %}
    <small class="all">{{ selection_note_all }}</small>
    <small class="question">
        <a href="javascript:;" title="{% trans "Click here to select the objects across all pages" %}">{% blocktrans with cl.result_count as total_count %}Select all {{ total_count }} {{ module_name }}{% endblocktrans %}</a>
    </small>
    <small class="clear"><a href="javascript:;">{% trans "Clear selection" %}</a></small>
  {% endif %}
{% endif %}