{% load admin_static %}<html lang="ru">
  <head>
    <title>{% block title %}Система управления проектом &laquo;День-ТВ&raquo;{% endblock %}</title>
    <script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v2.js"></script>
    <script src="/static/js/dropdown.js"></script>
    <script src="/static/js/pagecontrol.js"></script>
    <script src="/static/js/saga.js"></script>
    <link href="/static/css/modern.css" type="text/css" rel="stylesheet">
    <link href="/static/css/modern-responsive.css" type="text/css" rel="stylesheet">
    <link href="/static/css/bootstrap-modal.css" type="text/css" rel="stylesheet">
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
  </head>
  <body class="{% if is_popup %}popup {% endif %}">
    <div class="page{% if not is_popup %}{% block pageclass %} secondary{% endblock %}{% endif %}">
      {% if not is_popup %}
      <div class="bg-color-blueDark nav-bar">
        <div class="nav-bar-inner">
          <a class="fg-color-white element" href="/saga/">День-ТВ</a>
          <span class="divider"></span>
          <ul class="menu">
            {% for app in admin_app_list %}
            <li data-role="dropdown">
              <a href="#">{{app.name}}</a>
              <ul class="dropdown-menu">
                {% for model in app.models %}
                <li><a href="{{model.admin_url}}">{{model.name}}</a></li>
                {% endfor %}
              </ul>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}
      {% block pretitle %}{% endblock %}
      <div class="page-header">
        <div class="page-header-content">
          {% if title %}<h1>{{ title }}</h1>{% endif %}
          {% if not is_popup %}{% block content_title %}{% endblock %}{% endif %}
        </div>
      </div>
      {% block sidebar %}{% endblock %}
      <div class="page-region">
        <div class="page-region-content">
          {% block content %}
          {% block object-tools %}{% endblock %}
          {{ content }}
          {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>