{% extends "admin/base.html" %}
{% load i18n %}
{% load admin_urls %}

{% block intitle %}<a href="{% url 'admin:index' %}"><i class="icon-arrow-left-3"></i></a>{% endblock %}

{% block content %}
<h2>Управление кешом</h2>
<div id="content-main">
  <form class="form-horizontal"
        action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form" novalidate>
        {% csrf_token %}
        {% block form_top %}{% endblock %}
    <div>
      {% if form.errors %}
        <div class="notices span8">
          <div class="bg-color-red">
            <div class="notice-header fg-color-white">Ошибка!</div>
            <div class="notice-text">Необходимо указать ключ кеша для удаления</div>
          </div>
        </div>
        {{ form.non_field_errors }}
      {% endif %}
      {% if success %}
        <div class="notices span8">
          <div class="bg-color-green">
            <div class="notice-header fg-color-white">Успех!</div>
            <div class="notice-text">Ключ удален из кеша</div>
          </div>
        </div>
      {% endif %}
      <div>
        {{ form.key.label_tag }}
        {{ form.key }}
      </div>
      <div>
          <input class="submit" type="submit" value="Сбросить кеш" />
      </div>
    </div>
  </form>
</div>
{% endblock %}