{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_modify %}
{% load admin_urls %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block content_title %}{% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}" class="back-button big page-back"></a>{% endif %}{% endblock %}

{% comment %}
    {% block object-tools-items %}
    <li><a href="{% url opts|admin_urlname:'history' original.pk|admin_urlquote %}" class="historylink">{% trans "History" %}</a></li>
    {% if has_absolute_url %}<li><a href="{% url 'admin:view_on_site' content_type_id original.pk %}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
    {% endblock %}
{% endcomment %}

{% block content %}
<div id="content-main"{% if is_popup %} class="in_modal"{% endif %}>
  <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}
        class="form-horizontal"
        action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form" novalidate>
        {% csrf_token %}
        {% block form_top %}{% endblock %}
    <div>
      {% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
      {% if save_on_top %}
        {% block submit_buttons_top %}{% submit_row %}{% endblock %}
      {% endif %}
      {% if errors %}
        <div class="notices span8">
          <div class="bg-color-red">
            <div class="notice-header fg-color-white">Ошибка!</div>
            <div class="notice-text">В таком виде объект не может быть сохранён. Пожалуйста, исправьте все ошибки и повторите попытку.</div>
          </div>
        </div>
        {{ adminform.form.non_field_errors }}
      {% endif %}
      
      {% block field_sets %}
        {% for fieldset in adminform %}
          {% include "admin/includes/fieldset.html" %}
        {% endfor %}
      {% endblock %}

      {% block after_field_sets %}{% endblock %}

      {% block inline_field_sets %}
      <div class="page-control" data-role="page-control">
        <ul>
        {% for inline_admin_formset in inline_admin_formsets %}
          <li{% if forloop.first %} class="active"{% endif %}>
            <a href="#saga-inline-{{ forloop.counter }}">{{ inline_admin_formset.opts.verbose_name_plural }}</a>
          </li>
        {% endfor %}
        </ul>
        <div class="frames">
          {% for inline_admin_formset in inline_admin_formsets %}
          <div class="frame{% if forloop.first %} active{% endif %}" id="saga-inline-{{ forloop.counter }}">
            {% include inline_admin_formset.opts.template %}
          </div>
          {% endfor %}
        </div>
      </div>
      {% endblock %}

      {% block after_related_objects %}{% endblock %}
      {% block submit_buttons_bottom %}{% submit_row %}{% endblock %}
    </div>
  </form>
</div>
{% endblock %}