{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_list %}
{% load admin_urls %}

{% block pageclass %}{{ block.super }} with-sidebar{% endblock %}

{% block content_title %}<a href="{% url 'admin:index' %}" class="back-button big page-back"></a>{% endblock %}

{% block content %}

{% if cl.formset.errors %}
<p class="alert error">
  {% blocktrans count cl.formset.errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
</p>
{{ cl.formset.non_form_errors }}
{% endif %}

<form id="changelist-form" action="" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %}>
  {% csrf_token %}
  {% if cl.formset %}
    <div>{{ cl.formset.management_form }}</div>
  {% endif %}

  {% block result_list %}
    {% if has_add_permission %}
      <a href="{% url cl.opts|admin_urlname:'add' %}{% if is_popup %}?_popup=1{% endif %}" class="button bg-color-blue fg-color-white"><i class="icon-plus"></i> {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}</a>
    {% endif %}

    {% result_list cl %}
  {% endblock %}

  <div>
  {% if action_form and actions_on_top and cl.full_result_count %}
    {% admin_actions %}
  {% endif %}
  </div>

  {% block pagination %}{% pagination cl %}{% endblock %}
</form>
{% endblock %}

{% block sidebar %}
<div class="page-sidebar">
  {% search_form cl %}
  {% block date_hierarchy %}{% date_hierarchy cl %}{% endblock %}
  {% block filters %}
    {% if cl.has_filters %}
      {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
    {% endif %}
  {% endblock %}
</div>
{% endblock %}