{% load i18n admin_static %}
{% if result_hidden_fields %}
<div class="hiddenfields">{% for item in result_hidden_fields %}{{ item }}{% endfor %}</div>
{% endif %}

{% if results %}
<table class="striped bordered hovered">
  <thead>
    <tr>
      {% for header in result_headers %}
      <th scope="col" {{ header.class_attrib }}>{{ header.text|capfirst }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for result in results %}
      {% if result.form.non_field_errors %}
      <tr><td colspan="{{ result|length }}">{{ result.form.non_field_errors }}</td></tr>
      {% endif %}
      <tr>{% for item in result %}{{ item }}{% endfor %}</tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}