{% if show %}
<h3>Хронология</h3>
<ul>
  {% if back %}<li><a href="{{ back.link }}">&lsaquo; {{ back.title }}</a></li>{% endif %}
  {% for choice in choices %}
  <li>{% if choice.link %}<a href="{{ choice.link }}">{% endif %}{{ choice.title }}{% if choice.link %}</a>{% endif %}</li>
  {% endfor %}
</ul>
{% endif %}