{% load i18n %}
<h3>{% trans 'Filter' %}</h3>
<h4>{% blocktrans with filter_title=title %}{{ filter_title }}{% endblocktrans %}</h4>
<ul>
{% for choice in choices %}
  <li{% if choice.selected %} class="sticker sticker-color-orange"{% endif %}>
    <a href="{{ choice.query_string|iriencode }}">{{ choice.display }}</a>
  </li>
{% endfor %}
</ul>