{% extends "admin/base.html" %}
{% load i18n %}

{% block intitle %}<a href="{% url 'admin:index' %}"><i class="icon-arrow-left-3"></i></a>{% endblock %}

{% block content %}
<h2>График загрузок плеера за 24 часа</h2>
<div id="chart"></div>
<style>

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}
</style>
<script>
$(function(){
var margin = {top: 20, right: 20, bottom: 30, left: 40},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var x = d3.scale.ordinal()
    .rangeRoundBands([0, width], .1);

var y = d3.scale.linear()
    .range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");

var svg = d3.select("#chart").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var data = [{% for e in player_activity %}[{{e.hour.toordinal}},{{e.qty}}]{% if not forloop.last %},{% endif %}{% endfor %}]

x.domain(data.map(function(d){ return d[0]; }));
y.domain([0, d3.max(data, function(d){ return d[1]; })]);

svg.append("g").attr("class", "x axis").attr("transform", "translate (0," + height + ")").call(xAxis);
svg.append("g").attr("class", "y axis").call(yAxis).append("text").attr("transform", "rotate(-90deg)").attr("y", 6).attr("dy", ".71em").style("text-anchor", "end").text("Кол-во загрузок");

svg.selectAll(".bar").data(data).enter().append("rect").attr("class", "bar").attr("x", function(d){ return x(d[0]); }).attr("width", x.rangeBand()).attr("y", function(d){ return y(d[1])}).attr("height", function(d){ return height - y(d[1])});
});
</script>
{% endblock %}