{% load admin_list %}
{% load i18n %}
<div class="pagination">
{% if pagination_required %}
  <ul>
    {% for i in page_range %}
    <li>{% paginator_number cl i %}</li>
    {% endfor %}
  </ul>
{% endif %}
</div>
{% comment %}
{{ cl.result_count }} {% ifequal cl.result_count 1 %}{{ cl.opts.verbose_name }}{% else %}{{ cl.opts.verbose_name_plural }}{% endifequal %}
{% endcomment %}

{% if show_all_url %}&nbsp;&nbsp;<a href="{{ show_all_url }}" class="showall">{% trans 'Show all' %}</a>{% endif %}
{% if cl.formset and cl.result_count %}<input type="submit" name="_save" class="default" value="{% trans 'Save' %}"/>{% endif %}