{% load i18n admin_static %}
{% if cl.search_fields %}
<form method="get" action="." class="well">
  <h3>Поиск</h3>
  <input type="text" name="{{ search_var }}" value="{{ cl.query }}">
</form>
{% endif %}