{% load i18n admin_urls %}
<div>
  {% if show_save %}
  <button type="submit" class="fg-color-white bg-color-green" name="_save" {{onclick_attrib}}><i class="icon-checkmark"></i> Сохранить</button>
  {% endif %}
  {% if show_delete_link %}
  <a href="{% url opts|admin_urlname:'delete' original.pk|admin_urlquote %}" class="button fg-color-white bg-color-red"><i class="icon-cancel"></i> Удалить</a>
  {% endif %}
  {% if show_save_as_new %}
  <button type="submit" class="m-btn" name="_saveasnew" {{onclick_attrib}}>Сохранить как новый объект</button>
  {% endif %}
  {% if show_save_and_add_another %}
  <button type="submit" class="m-btn" vname="_addanother" {{onclick_attrib}}>Сохранить и приступить к новому объекту</button>
  {% endif %}
  {% if show_save_and_continue %}
  <button type="submit" class="m-btn" name="_continue" {{onclick_attrib}}>Сохранить и продолжить редактирование</button>
  {% endif %}
</div>