{%- extends "app_base.html" -%}

{%- block body_attrs -%}class="systemblock profile-edit"{%- endblock -%}

{%- block app_content_header -%}{%- endblock -%}

{%- macro form_field(field) -%}
<div{% if field.errors %} class="error"{% endif %}>
	{{ field }}
	<span>{%- if field.errors -%}{{ field.errors }}{%- endif -%}</span>
</div>
{%- endmacro -%}

{%- block app_content -%}
<div class="profile">
  <div class="third">
    <form action="{% url 'accounts.view.self' %}" enctype="multipart/form-data" method="post" id="account_form">
      <h4>Основная информация</h4>
      <h5>Аватар</h5>
      {%- if profile.avatar_source.name != '' -%}
      <img src="{{ profile.avatar_150.url }}" width="150" />
      {%- else -%}
      <img src="{{ STATIC_URL }}images/noavatar_150.jpg" width="150" />
      <p>Аватара нет</p>
      {%- endif -%}
      {{ form.avatar }}
      <table>
	<tr>
	  <td class="key">
	    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
	    {{ form.first_name.label_tag() }}
	  </td>
	  <td class="value">{{ form.first_name }}</td>
	</tr>
	<tr>
	  <td class="key">{{ form.last_name.label_tag() }}</td>
	  <td class="value">{{ form.last_name }}</td>
	</tr>
	<tr>
	  <td class="key">{{ form.display_name.label_tag() }}</td>
	  <td class="value">{{ form.display_name }}</td>
	</tr>
      </table>
      <br/>
      <h5>Смена пароля</h5>
      <table>
        <tr>
	  <td class="key">{{ form.old_password.label_tag() }}</td>
	  <td class="value">{{ form.old_password }}</td>
	</tr>
	<tr>
	  <td class="key">{{ form.new_password.label_tag() }}</td>
	  <td class="value">{{ form.new_password }}</td>
	</tr>
      </table>
      <br/>
      <h5>Дополнительная информация</h5>
      <table>
        <tr>
	  <td class="key">{{ form.occupation.label_tag() }}</td>
	  <td class="value">{{ form.occupation }}</td>
	</tr>
	<tr>
	  <td class="key">{{ form.about.label_tag() }}</td>
	  <td class="value">{{ form.about }}</td>
	</tr>
      </table>
      <div>
        <input class="submit" type="submit" value="Сохранить" />
      </div>
    </form>
  </div>
  <div class="third">
    <h4>Статистика пользователя</h4>
    <table>
      <tr>
	<td class="key">Зарегистрирован{%- if profile.gender == 2 -%}а{%- endif -%}</td>
	<td class="value">{{ profile.created|ru_strftime(True,'%d %B %Y') }}</td>
      </tr>
      <tr>
	<td class="key">Ваш статус</td>
	<td class="value">{%- if profile.has_blog -%}колумнист{%- else -%}пользователь{%- endif -%}</td>
      </tr>
    </table>
    <h4>Статистика блога</h4>
    <table>
      <tr>
        <td class="key">Статус публициста</td>
	<td class="value">{%- if profile.has_blog -%}активен{%- else -%}неактивен{%- endif -%}</td>
      </tr>
      {% if profile.has_blog %}
      <tr>
        <td class="key">Адрес блога</td>
	<td class="value"><a href="{{ blog.get_absolute_url() }}">{{ blog.title }}</a></td>
      </tr>
      <tr>
        <td class="key">Количество выпусков</td>
	<td class="value">{{ blog.entries.count() }}</td>
      </tr>
      {%- endif -%}
    </table>
  </div>
</div>
{%- endblock -%}
