{% extends "sidebar.html" %}

{% from "macros.html" import video_tile, pagination %}

{% block page_title %}{{super()}}{{" / "}}Публицисты{% endblock %}

{%- block app_base-%}
<section class="ontheair">
  <div class="container">
      <a href="/">
          <div class="logo-small"></div>
      </a>
      <div class="big-search">
          <form action="/search/" method="get"><input id="livesearch" type="text" placeholder="поиск" value=""
                                                                          name="query"></form>
      <button>поиск</button>
      </div>

  </div>
</section>
	</section>

	<section class="main accounts">
    <div class="container">
        <div class="left-block">

        </div>
        <div class="center-block">
            <h2>Публицисты</h2>
                    <div class="posts">
                <ul>
									{%- for p in profiles -%}
                    <li>
                      <article class="teaser">
                            <a href="{{p.get_absolute_url()}}">
                                <img src="{% if p.avatar_source != "" %}{{p.avatar_150.url}}{% else %}{{STATIC_URL}}images/noavatar_150.jpg{% endif %}" alt="{{p.display_name|e}}"/>

                                <div class="details">
                                    <h4>{{p.display_name}}</h4>
                                </div>
                            </a>
                        </article>
                    </li>
									{%- endfor -%}
                </ul>
            </div>
        </div>
        <div class="right-block">

        </div>
    </div>
	</section>
{%- endblock -%}
