{%- extends "app_base.html" -%}

{%- from "macros.html" import video_tile, pagination -%}

{%- block body_attrs -%} class="systemblock"{%- endblock -%}

{# TODO:FIXME#}

{%- block app_base -%}
  <section class="ontheair">
    <div class="container">
        <a href="/">
            <div class="logo-small"></div>
        </a>
    </div>
  </section>

  <section class="main accounts">
    <div class="container">
        <div class="left-block ">
            {%- if profile.avatar_personal_source -%}
                <img src="{{profile.avatar_personal_240.url}}" />
            {%- else -%}
                {%- if profile.avatar_source -%}
                    <img src="{{profile.avatar_240.url}}" />
                {%- else -%}
                    <img src="{{STATIC_URL}}img/noavatar.jpg" />
                {%- endif -%}
            {%- endif -%}
            <a class="button" href="#popup1">Задать вопрос автору</a>
            <div id="popup1" class="overlay">
                <div class="popup">
                    <h2>Задать вопрос автору: <span>{{profile.display_name}}</span></h2>
                    <p>Вы можете задать любой интересующий вас вопрос автору <span>{{profile.display_name}}</span>. После того, как <span>Андрей Фурсов</span> ответит на ваш вопрос, вам придёт уведомление на e-mail.</p>
                    <a class="close" href="#">&times;</a>
                    <div class="content">
                        <form method="post" id="form_question_author" >
                            <input type="hidden" name="csrfmiddlewaretoken" value="Wvt6p4ReH6YfEc2KFWqYTjasyirLJgS3">
                            <p>ФИО</p>
                            <input type="text" name="fio">
                            <p>Email:</p>
                            <input type="text" name="email">
                            <p>Ваш вопрос:</p>
                            <textarea name="question"></textarea>
                            <input type="button" id="toauthor_send" value="Задать вопрос">
                            <div id="result_block"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

         <script type="text/javascript">

                $('#toauthor_send').click(function(){
                    var question = $(this).parent().find('textarea[name=question]').val();
                    var email = $(this).parent().find('input[name=email]').val();
                    var fio = $(this).parent().find('input[name=fio]').val();
                    if(question!='' && email!='' && fio!='') {
                        $.post( '/accounts/send_question/', {
                                'csrfmiddlewaretoken': $(this).parent().find('input[name=csrfmiddlewaretoken]').val(),
                                'user': {{profile.id}},
                                'question': question,
                                'email': email,
                                'fio': fio,
                            }
                        ).done(function(data) {
                            if(data['result'] == true) {
                                $('#result_block').html('Вопрос отравлен автору!');
                                $('#form_question_author').find('textarea[name=question]').val('');
                                $('#form_question_author').find('input[name=email]').val('');
                                $('#form_question_author').find('input[name=fio]').val('');
                            }
                        });
                    }
                    $(this).parent().find('textarea[name=question]').val('');
                    $(this).parent().find('input[name=email]').val('');
                    $(this).parent().find('input[name=fio]').val('');
                });
            </script>

        <div class="center-block">
            <h2>{{profile.screen_name}}</h2>

            <div class="author-stat">
                <p><i class="fa fa-youtube-play" aria-hidden="true"></i> Видео на сайте: <a
                        href="/search/?query={{profile.id}}&user=1"><span>{{entries_count}}</span></a></p>

                <p><i class="fa fa-envelope-o" aria-hidden="true"></i> Ответов автора: <a
                        href="#answers"><span>{{question_count}}</span></a></p>
            </div>
            <div class="author-about">
                {{profile.about}}
            </div>

            <h3>Последнее видео:</h3>
            <iframe width="454" height="255" src="https://www.youtube.com/embed/{{last_entryies[0].video_id()}}" frameborder="0"
                    allowfullscreen></iframe>
            <h2 id="answers"><i class="fa fa-envelope-o" aria-hidden="true"></i> Вопросы и ответы</h2>

            <div class="answer-block">
                <ol class="rectangle">
                    {%- for qa in qa_list -%}
                      <li>
                          <p>{{qa.fio}}:<br/>
                              {{qa.question_text}}<br/><br/>
                              {%- if qa.answer_text -%}
                                {{profile.display_name}}:<br/>
                                {{qa.answer_text}}</p>
                              {%- endif -%}
                      </li>
                    {%- endfor -%}
                </ol>
            </div>
        </div>
        <div class="right-block">
            <h2>Другие видео</h2>
            {%- for lentry in last_entryies[1:] -%}
              <article class="teaser">
                <iframe width="240" height="135" src="https://www.youtube.com/embed/{{lentry.video_id()}}" frameborder="0"
                      allowfullscreen></iframe>
                <div class="details">
                  <h4><a href="{{lentry.get_absolute_url()}}">{{lentry.title}}</a></h4>
                </div>
              </article>
            {%- endfor -%}
        </div>
    </div>
</section>
{%- endblock app_base -%}
