{%- extends "app_base.html" -%}

{% block body_attrs %}class="systemblock"{% endblock %}

{%- block app_content_header -%}{%- endblock -%}

{%- block login_links -%}{%- endblock -%}

{%- macro form_field(field) -%}
<div{% if field.errors %} class="error"{% endif %}>
	{{ field.label_tag() }}{{ field }}
	<span>{%- if field.errors -%}{{ field.errors }}{%- endif -%}</span>
</div>
{%- endmacro -%}

{%- block app_content -%}
<article>
	<h2>Быстрая регистрация</h2>
	<p>Если у Вас уже имеется профиль в одной из популярных социальных сетей, вы можете пройти процедуру упрощенной регистрации. Для этого нажмите на значок соответствующей социальной сети ниже и следуйте указаниям системы.</p>
	<div class="login-type">
		<ul>
			<li><a href="/social/login/facebook/" class="facebook"><i class="icon"></i>Facebook</a></li>
			<li><a href="/social/login/vk-oauth/" class="vk"><i class="icon"></i>ВКонтакте</a></li>
			<li><a href="/social/login/twitter/" class="twitter"><i class="icon"></i>Twitter</a></li>
		</ul>
	</div>
	<div class="register-form">
		<h2>Регистрация</h2>
		<form action="{% url 'accounts.register' %}" method="post" id="reg-form">
			<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
    		{%- for field in form -%}{{ form_field(field) }}{%- endfor -%}
			<hr/>
			<input class="submit" type="submit" value="Зарегистрироваться" />
		</form>
	</div>
</article>
{%- endblock -%}
