{%- extends "sidebar.html" -%}

{%- from "macros.html" import video_tile, pagination -%}

{%- block app_content_header -%}{%- endblock -%}

{%- block content -%}
<h4>Все&nbsp;{%- if program.owner_id == 1 -%}выпуски программы{%- else -%}записи блога{%- endif -%}&nbsp;&laquo;{{ program.title }}&raquo;</h4>
<div class="page-content video-tiles">
    {%- for entry in entries -%}
    {{ video_tile(size="small", entry=entry, last = loop.index % 3 == 1, no_program=True) }}
    {%- endfor -%}
</div>
{%- endblock -%}

{%- block app_content_footer -%}
{%- if is_paginated -%}{{ pagination(page_obj, request) }}{%- endif -%}
{%- endblock -%}