{%- extends "sidebar.html" -%}

{%- from "macros.html" import pagination -%}

{%- block app_content_header -%}{%- endblock -%}

{%- block content -%}
<h6>Программы</h6>
<div class="page-content video-tiles">
    {%- for program in programs -%}
    <p><a href="{{ program.get_absolute_url() }}">{{ program.title }}</a></p>
    <p>
        <a href="{{ program.get_absolute_url() }}">
            <img src="{{ MEDIA_URL }}{{ program.logo }}" width="750" height="88" />
        </a>
    </p>
    {%- endfor -%}
</div>
{%- endblock -%}

{%- block app_content_footer -%}
{%- if is_paginated -%}{{ pagination(page_obj, request) }}{%- endif -%}
{%- endblock -%}