{% extends "sidebar.html" %}

{% block app_content_header %}<div class="page-head"></div>{% endblock %}

{% block content %}
<div class="static_page">
    <div class="bread">
        <ul class="breadcrumb">
            <li><a href="/">Главная</a> <span class="divider">/</span></li>
            <li>{{ item.title }}</li>
        </ul>
    </div>
    <div class="content_area">
        <h1 class="static_header">{{ item.title }}</h1>
        <div class="static_content">{{ item.text }}</div>
    </div>
</div>
{% endblock %}