<fieldset class="admin-fieldset {{ fieldset.classes }}">
  {% if fieldset.name %}<legend>LEGEND: {{ fieldset.name }}</legend>{% endif %}
  {% if fieldset.description %}
    <div class="description">DESC: {{ fieldset.description|safe }}</div>
  {% endif %}
  {% for line in fieldset %}
  <div class="cl">
    {% for field in line %}
      {% if field.is_checkbox %}
      <div class="input-control">
        <label class="input-control checkbox" for="{{ field.field.id_for_label }}">
          {{ field.field }}
          <span class="helper">{{ field.field.label }}</span>
        </label>
      </div>
      {% else %}
      <div style="float: left; width: 25%;">
        <label for="{{field.field.id_for_label}}">{{ field.field.label }}</label>
      </div>
      <div style="float: left; width: 75%;">
        <div class="input-control{% if field.field.errors|length > 0 %} border-color-red{% endif %}">{{ field.field }}</div>
        {% if field.field.errors|length > 0 %}
        <div class="bg-color-red fg-color-white">{{ field.field.errors }}</div>
        {% endif %}
      </div>
      {% endif %}
    {% endfor %}
  </div>
  {% endfor %}
</fieldset>