@import "h5bp";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3/border-radius";
@import "animation";

@font-face {
  font-family: "a_AvanteTckMedium";
  src: url('http://dentv.ru/static/fonts/["aavantetckmedium-webfont.eot", "normal"]');
  src: url('http://dentv.ru/static/fonts/"aavantetckmedium-webfont.eot" "normal"?#iefix') format('eot'), url('http://dentv.ru/static/fonts/aavantetckmedium-webfont.woff') format('woff'), url('http://dentv.ru/static/fonts/aavantetckmedium-webfont.ttf') format('truetype');
  font-weight:"normal"
}

@include h5bp-display;
@include h5bp-lists;
@include h5bp-embeds;
@include h5bp-helpers;

$sprites-layout: smart;
@import "sprites/*.png";

@import "scss/_base.scss";
