body {
    margin: 0;
    font-size: 13px;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;

    &:hover {
        text-decoration: underline;
    }
}

%spriteholder {
    text-indent: -9999px;
    color: transparent;
}

%verticalblock {
    display: table-cell;
    vertical-align: middle;
}

%tinytext {
    font-size: 11px;
}

%greyborder {
    border: 1px solid #cecccc;
}

%greyseparator {
    background-image: inline-image("separator.png");
    background-repeat: repeat-x;
}

%triangle-separator-transparent {
    background: inline-image("separator-gradient.png") top left no-repeat;
}

@for $i from 1 through 6 {
    h#{$i} {
        margin: 0;
        padding: 0;
        font-family: 'a_AvanteTckMedium';
        font-weight: normal;
        font-size: #{-2*$i + 24}px;
    }
}

h6 {
    color: #b8aca6;
}

.clear {
    clear: both;
}

@mixin fullsprite($sprite) {
    @include sprites-sprite($sprite);
    width: sprites-sprite-width($sprite);
    height: sprites-sprite-height($sprite);
}

@import "scss/_header.scss";
@import "scss/_body.scss";
@import "scss/_footer.scss";

@import "scss/_forms.scss";
@import "scss/_comments.scss";
@import "scss/_misc.scss";
@import "scss/_tabs.scss";
@import "scss/pages/_player.scss";