.sublogo {
    @extend %spriteholder;
    
    /* push-out */
    $pushOutDistance: 5px;
    margin-left: -$pushOutDistance;
    margin-right: $pushOutDistance;

    @include fullsprite(sublogo);

    float: left;
    display: block;
}

.bodycopy {
    width: 990px;
    margin: 100px auto 0 auto;

    @include transition-property(all);
    @include transition-duration(3s);
    @include transition-timing-function(linear);

    /*& > div {*/
    .app_base {
        /*& > div.header {*/
        .app_base_header {
            @extend %greyseparator;
            background-position: 0 88px;
            position: relative;
            margin-bottom: 10px;

            @include micro-clearfix;

            & > h6 {
                position: absolute;
                top: 100px;
                text-align: right;
                width: 202px;
            }

            .standard-block {
                float: left;
                display: block;

                img {
                    padding-bottom: 10px;
                }
            }
        }
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* layouts. extract them to separate file in the future. */
.main-column {
    width: 652px;
    display: table-cell;
    vertical-align: top;

    & > h6 {
        margin-top: 30px;
    }

    & > h6:first-child {
        margin-top: 0;
    }
}

.side-column {
    width: 320px;
    padding-left: 18px;
    display: table-cell;
    vertical-align: top;
}

@import "scss/pages/_mainpage.scss";
@import "scss/pages/_programs.scss";
@import "scss/pages/_profile.scss";
@import "scss/pages/_news.scss";
@import "scss/pages/_search.scss";