.comments {
    //@include micro-clearfix;
    font-family: 'a_AvanteTckMedium';
    display: block;

    li { border-top: 1px dotted #b8aca6; @include micro-clearfix; }
    li:first-child { border-top: none; }

    .rating {
        padding: 10px 0;
        float: right;
        span {
            padding: 0 5px;
        }
    }

    .controls {
        input {
            @include fullsprite(comment-button);
            text-indent: -9999em;
            border: none;
            cursor: pointer;
        }
    }

    .user {
        @extend %tinytext;
        padding: 10px 0;

        float: left;
        width: 200px;
        margin-left: 20px;
        color: #241314;
        
        a {
            width: 50px;
            float: left;
            img {
                display: block;
                float: none;
                width: 50px;
            }
        }

        .info {
            @extend %tinytext;
            float: left;
            margin-left: 10px;
            width: 140px;
            line-height: 18px;

            span {
                display: block;
            }

            time {
                display: block;
                color: #bbaca6;
            }
        }
    }

    .body {
        float: left;
        width: 340px;
        padding: 10px 0;
        margin-left: 10px;
        line-height: 18px;
    }

    label {
        @extend %tinytext;
    }

    textarea {
        @extend %greyborder;
        width: 100%;
        height: 190px;
        outline: 0;
        &:focus {
            outline: thin solid;
            border-color: #241314;
        }
    }
}