.footer {
    &:before {
        content: "";
        display: block;
        background: white;
        height: 1px;
        border-top: 1px solid #2f1f20;
    }
    font-family: "a_AvanteTckMedium";
    background: #676061;
    //border-top: 1px solid #2f1f20;
    font-size: 11px;
    color: white;

    a { color: white; }

    .logo {
        display: block;
        @include fullsprite(footerlogo);
        margin-bottom: 52px;
    }

    .mature {
        @include micro-clearfix;
        width: 350px;
        line-height: 16px;
        .icon {
            float: left;
            display: inline-block;
            @include fullsprite(mature);
            margin-right: 6px;
        }
    }

    .additional-info {
        width: 990px;
        margin: 72px auto 0 auto;
        position: relative;
        li {
            padding: 11px 0 17px 0;
        }
    }
}

#orphus {
    position: absolute;
    right: 0px;
    bottom: 0px;
}