.rowform {
    li {
        display: block;
        margin-bottom: 16px;
    }
    label {
        display: block;
    }
    input {
        display: block;
        margin-left: 0px;
    }
}

.register-form {
    div {
        margin-bottom: 14px;
    }
}

input {
    padding: 4px;
    background-color: white;
    border: 1px solid #ccc;
    height: 21px;
    @include border-radius(3px);
}