.logo {
    @extend %spriteholder;
    @include fullsprite(logo);
    line-height: sprites-sprite-height(logo);
}

.header {
    z-index: 1488;
    background-color: #dcd5ce;
    border-bottom: 1px solid #bdb585;
    font-family: "a_AvanteTckMedium";
    font-size: 14px;
    position: fixed;
    top: 0px;
    width: 100%;

    & > .nav {
        background-color: #241314;
        border-bottom: 1px solid #d9ca88;

        ul {
            width: 990px;
            margin: auto;
            padding: 2px 0;
        }

        li {
            display: inline-block;
            $headerMenuSeparatorHeight: image-height("header-menu-separator.png");
            background: inline-image("header-menu-separator.png") top left no-repeat;
            height: $headerMenuSeparatorHeight;
            //@include sprites-sprite(header-menu-separator);
            //height: sprites-sprite-height(header-menu-separator);
            margin-right: 18px;
            padding-left: 20px;
            line-height: #{$headerMenuSeparatorHeight + 2};
            margin-top: 2px;

            a {
                color: #ffeeca;
                display: block;
                text-transform: uppercase;
                height: $headerMenuSeparatorHeight;
                &.logo {
                    height: 16px;
                }
            }

            /* search form */
            &.search {
                display: block;
                float: right;
                padding: 0;
                margin: 4px 0 0 0;
                height: sprites-sprite-height(search-input-back);

                form {
                    @include sprites-sprite(search-input-back);
                    height: sprites-sprite-height(search-input-back);
                    width: #{sprites-sprite-width(search-input-back) - 28};
                    padding: 0 20px 0 8px;
                }

                input {
                    border: none;
                    background: transparent;
                    outline: none;
                    height: 14px;
                    line-height: sprites-sprite-height(search-input-back);
                    width: 135px;
                }
            }

            /* logo holder */
            &:first-child {
                background: none;
                padding-left: 0;
                margin-right: 60px;
            }

            /* dropdowns */
            ul {
                position: absolute;
                border: 1px solid black;
                width: auto;
                background: white;
                margin-left: -16px;
                li {
                    &:first-child {
                        margin-right: 0 !important;
                        padding: 5px 10px !important;
                    }
                    background: none;
                    padding: 5px 10px;
                    margin: 0;
                    float: none;
                    display: block;
                    width: auto;
                    &:hover {
                        background: #cecccc;
                    }
                    a {
                        color: black;
                        font-size: 12px;
                        text-transform: none;
                    }
                }
                display: none;
            } 
        }
    }

    & > .aside {
        width: 990px;
        margin: 0 auto;
        padding: 8px 0;
        @include micro-clearfix;

        time {
            float: left;
        }

        div {
            a {
                color: black;
                display: inline-block;
                margin-right: 8px;
                &:last-child {
                    margin-right: 0;
                }
            }
            float: right;
        }
    }
}