.systemblock {
    background-color: #dcd5ce;

    .follow {
        li {
            width: 16px;
            padding-right: 4px;
            margin-right: 4px;
        }
        .facebook { @include fullsprite(facebook-login); }
        .vk { @include fullsprite(vk-login); }
        .twitter { @include fullsprite(twitter-login); }
    }
}

.register-form {
    margin: 30px 0;
    h2 { margin-bottom: 20px; }
    label { display: block; margin-bottom: 5px; display: block; }
    input { border: 1px solid #ccc; width: 210px; display: block; padding: 4px; }
    input.submit { border: none; @include fullsprite(register-button); text-indent: -9999px; color: transparent; }
}

.error {
    margin: 10px 0;
    color: red;
}

.modal-container {
    &.hidden .modal {
        top: -500px;
        opacity: 0;
    }
    @include transition(all, 1s, ease-in-out);
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1488;
    .modal {
        border: 10px solid rgba(0,0,0,0.5);
        width: 650px;
        background-color: #dcd5ce;
        background-clip: padding-box;
        opacity: 1;
        z-index: 1488;
        position: fixed;
        top: 120px;
        display: block;
        @include transition(all, 1s, ease-in-out);
    }
    .modal-body {
        width: 600px;
        padding: 15px;
        font-family: 'a_AvanteTckMedium';
        font-size: 11px;
        line-height: 18px;
        h2 {
            font-size: 17px;
        }
        form {
            font-size: 13px;
        }
        label {
            margin-bottom: 5px;
            width: 150px;
        }
        input {
            margin-left: 0px;
            width: 180px;
            @include transition(border, linear, 0.2s);
            @include transition(box-shadow, linear, 0.2s);
        }
        li.submit input {
            margin-top: 20px;
            @include fullsprite(enter-button);
            cursor: pointer;
            text-indent: -9999em;
        }
    }
}

.login-type {
    @include micro-clearfix;
    padding-bottom: 2px;
    margin: 20px 0;
    border-bottom: 1px dotted #b8aca6;

    li { display: block; line-height: 16px; float: left; margin-right: 10px; }
    .icon { float: left; display: block; margin-right: 4px; }
    .facebook .icon { @include fullsprite(facebook-login); }
    .twitter  .icon { @include fullsprite(twitter-login); }
    .vk       .icon { @include fullsprite(vk-login); }
}

.video-tiles {
    padding-top: 30px;
    @include micro-clearfix;

    &.page-content {
        margin-bottom: 0;
    }

    .figure {
        //overflow: hidden;
        //a, img { display: block; width: 100%; }
        //a { position: relative; }
        //img { position: absolute; bottom: 0; }
        margin: 0;
    }
    .figure.figure-small {
        height: 113px;
        a { height: 113px; }
    }
    .figure.figure-big {
        height: 225px;
        a { height: 225px; }
    }

    li {
        display: block;
        float: left;
        margin-left: 20px;
        &.video-tile-small {
            width: 190px;
            figure a { height: 110px; }
        }
        &.video-tile-big {
            width: 400px;
            figure a { height: 225px; }
        }
    }

    h6 {
        margin-bottom: 10px;

        a {
            color: #be9475;
            display: inline;
        }
    }

    h4 {
        clear: both;
        border-top: 1px dotted #c2a39c;
        line-height: 1.3;
        padding-top: 10px;
        text-transform: uppercase;
        a {
            color: #46392f;
        }
    }

    p {
        font-size: 12px;
        line-height: 1.3;
        margin-top: 10px;
        color: #413334;
    }

}

.comments-count, .pubdate {
    @extend %tinytext;
    font-weight: bold;
    color: #826253;
    height: 22px;
    line-height: 24px;
}

.comments-count {
    float: left;

    .icon {
        @include fullsprite(comment-icon);
        display: inline-block;
        margin-right: 3px;
        position: relative;
        top: 6px;
    }
}

.systemblock .comments-count .icon {
    @include fullsprite(comment-icon-dark);
}

.pubdate {
    float: right;
}

.page-content {
    @extend %greyborder;
    @include micro-clearfix;
    margin-bottom: 30px;
}

.other-videos {
    margin-bottom: 30px;
}

.block {
    margin: 10px 0 30px 0;
}

.news {
    @extend %greyborder;

    li {
        border-bottom: 1px dotted #676061;
        margin-bottom: 10px;
        &:last-child {
            border-bottom: none;
            margin-bottom: 0;
        }
    }
    p {
        @extend %tinytext;
    }
    margin-bottom: 10px;
}

.hit-parad {
    @include fullsprite(hit-parad);
    margin-bottom: 10px;

    a {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.important-news {
    @extend .news;
    font-size: 1.5em;
    font-weight: bold;

    li {
        padding-bottom: 10px;
        &:last-child {
            padding-bottom: 0;
        }
    }
}

h6.important-news-header {
    color: #801818;
    font-size: 1.25em;
}

.news-other {
    margin-bottom: 30px;
    margin-right: 5px;
    font-size: 1.1em;
    text-align: right;
}

.side-column .info {
    @extend %greyborder;
    padding: 10px;
    @include micro-clearfix;

    dl {
        @extend %tinytext;
        font-family: "a_AvanteTckMedium";
        line-height: 18px;
    }
    dt, dd { float: left; }
    dt { clear: left; color: #999; }
    dd { margin-left: 8px; }

}

.follow {
    li {
        &:last-child {
            background: none;
            margin-right: 0;
            padding-right: 0;
        }
        @extend %triangle-separator-transparent;
        background-position: right center;
        padding-right: 21px;
        margin-right: 13px;
        display: inline-block;
        height: 33px;
        width: 33px;
        a { display: block; }
    }
    .facebook { @include fullsprite(facebook-follow); }
    .vk { @include fullsprite(vk-follow); }
    .twitter { @include fullsprite(twitter-follow); }
    .youtube { @include fullsprite(youtube-follow); }
}

.pages {
    @include micro-clearfix;

    li {
        display: block;
        position: relative;
        float: left;
        height: 55px;

        font-size: 20px;
        font-family: "a_AvanteTckMedium";
        text-align: center;

        a {
            margin: 0 20px;
            display: block;
            height: 55px;
            line-height: 61px;
        }

        &.prev, &.next {
            margin: 20px 0 0 0;
            width: 7px;
            height: 14px;
            a {
                width: 7px;
                height: 14px;
                margin: 0;
            }
        }
        &.prev { @include sprites-sprite(pager-left); }
        &.next { @include sprites-sprite(pager-right); }
        &.prev.inactive { opacity: 0.5; }
        &.next.inactive { opacity: 0.5; }
        &.inactive a { cursor: default; }

        .indicator {
            left: 50%;
            position: absolute;
            height: 11px;
            display: inline-block;
            margin-left: -12px;
        }
        .top {
            width: 22px;
            top: -1px;
            @include sprites-sprite(pager-indicator-top);
        }
        .bottom {
            top: 46px;
            margin-left: -10px;
            width: 18px;
            @include sprites-sprite(pager-indicator);
        }
    }
}

.see_also {
    padding: 2px 5px;
    text-align: right;
    a {
        &:hover {
            text-decoration: none;
        }

        .text {
            color: #592F1A;
            text-decoration: none;
            border-bottom: 1px dotted #592F1A;
            font-size: 11px;
            position: relative;
            top: -14px;
            left: 4px;
        }

        .icon {
            display: inline-block;
            @include sprites-sprite(youtube-follow);
            width: 33px;
            height: 33px;
        }
    }
}

.flyout {
    position: fixed;
    width: 150px;
    right: 0px;
    padding: 10px;
    margin: 0;
    border: 1px solid #cecccc;
    background-color: white;
    @include transition-property(all);
    @include transition-duration(0.3s);
    @include transition-timing-function(linear);


    &.fly-hidden {
        right: -170px;
    }

    h4 {
        margin-bottom: 8px;
        sup {
            cursor: pointer;
        }
    }

    ul, li {
        margin: 0;
        padding: 0;
    }
}

.promo {
    margin-bottom: 20px;
    width: 300px;

    ul {
        background-color: #241314;
        border-radius: 5px;
        //@include sprites-sprite(actual-back);
        //width: sprites-sprite-width(actual-back);
        li {
            padding: 5px 15px;
            font-size: 14px;
            color: white;

            /*
            img {
                margin: 0 auto;
                display: block;
            }
            */

            a {
                color: #ffeeca;
            }
        }
        h2 {
            font-size: 22px;
            color: #ffeeca;
        }
    }
}

.poll {
    margin-bottom: 20px;
    width: 300px;

    label {
        padding: 4px 0;
        display: block;
    }
    input {
        width: 13px;
        height: 13px;
        padding: 0;
        margin: 0 5px 0 0;
        vertical-align: bottom;
        position: relative;
        top: -1px;
    }

    .voted {
        margin: 5px 0;
    }

    .voted_fill {
        background-color: #d9ca88;
        display: block;
        height: 12px;
        //z-index: 5;
        position: relative;

        .voted_fill_ruler {
            display: block;
            position: absolute;
            background-color: #241314;
            height: 100%;
        }
    }
}