.tabs dd {
    @extend %greyborder;
    @include micro-clearfix;
    margin: 0;
    padding: 25px 10px;

    &.plain {
      padding: 0;
      border: 0;
    }
}

.js .tabs {
    margin-top: 53px;
    position: relative;

    dt {
        font-size: 12px;
        font-family: "a_AvanteTckMedium";
        cursor: pointer;
        @include sprites-sprite(tabs-back);

        $tabPad: 8px;
        width: (165 - 2*$tabPad);
        height: 23px;
        line-height: 23px;
        padding: 0 $tabPad;

        position: absolute;
        top: -23px;

        &.active {
            @include sprites-sprite(tabs-back-active);
            z-index: 1369;
            cursor: default;
        }
        /*
        &:first-child {
            background: #ddd5ce;
        }
        */
    }
}