@font-face {
    font-family: "ubuntu";
    src: url("../fonts/UbuntuRegular.eot");
    src: url("../fonts/UbuntuRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/UbuntuRegular.woff") format("woff"),
    url("../fonts/UbuntuRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ubuntumedium";
    src: url("../fonts/UbuntuMedium.eot");
    src: url("../fonts/UbuntuMedium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/UbuntuMedium.woff") format("woff"),
    url("../fonts/UbuntuMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ubuntulight";
    src: url("../fonts/UbuntuLight.eot");
    src: url("../fonts/UbuntuLight.eot?#iefix") format("embedded-opentype"),
    url("../fonts/UbuntuLight.woff") format("woff"),
    url("../fonts/UbuntuLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html, body {
    position: relative;
    height: 100%;
}

body, ul, input, p, h4, h5, hr {
    font-family: 'ubuntu';
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.header {
    height: 590px;
    font-family: 'ubuntumedium';
}

.header .container {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 10;
    margin-left: -500px;
}

.header .container .logo {
    margin-top: 30px;
    width: 235px;
    float: left;
}

.menu {
    position: absolute;
    left: 273px;
    top: 38px;
}

.menu ul li {
    list-style-type: none;
    height: 34px;
    width: 137px;
    border-right: 1px solid #a2a8b0;
    float: left;
}

.menu ul li + li {
    border: none;
    padding-left: 24px;

}

.menu a {
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 34px;
}

.menu a + a {
    padding-left: 24px;
}

.search {
    left: 590px;
    top: 38px;
    position: absolute;
}

.search form input {
    width: 228px;
    height: 30px;
    background: url('../img/search.png') no-repeat 95% 50%;
    border: 1px solid #a2a8b0;
    font-family: 'ubuntulight';
    font-size: 18px;
    padding-left: 12px;
    padding-bottom: 2px;
    color: #a2a8b0;
}

.search form input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: #fff !important;
}

.big-search {
    width: 600px;
    float: right;
    margin-right: 127px;
    margin-top: 16px;
}

.big-search form {
    float: left;
}

.big-search form input {
    width: 442px;
    height: 30px;
    border: none;
    font-family: 'ubuntulight';
    font-size: 18px;
    padding-left: 12px;
    padding-bottom: 2px;
    color: #a2a8b0;
}

.ontheair .big-search button {
    float: right;
    height: 32px;
    width: 100px;
    padding: 0 15px;
    margin-top: 0;
    margin-right: 40px;

}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.social {
    position: absolute;
    left: 843px;
    top: 38px;
}

.social ul li {
    background: url('../img/vk.png') no-repeat 50% 50%;
    background-color: rgba(0, 0, 0, 0.4);
    float: left;
    list-style-type: none;
    width: 34px;
    height: 34px;
    margin-right: 7px;
}

.social ul li a{
    display:block;
    width: 100%;
    height: 100%;
}

.social ul li + li {
    background: url('../img/fb.png') no-repeat 50% 50%;
    background-color: rgba(0, 0, 0, 0.4);
}

.social ul li + li + li {
    background: url('../img/twitter.png') no-repeat 50% 50%;
    background-color: rgba(0, 0, 0, 0.4);
}

.social ul li + li + li + li {
    background: url('../img/ok.png') no-repeat 50% 50%;
    background-color: rgba(0, 0, 0, 0.4);
    margin-right: 0
}

.social ul li:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 1);
}


.slider-about {
    width: 195px;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -500px;
    padding: 20px 20px 40px 20px;
}

.slider-about h2 {
    font-family: 'ubuntu';
    font-size: 24px;
    color: #ffffff;
    font-weight: 100;
    padding-bottom: 20px;
    position: relative;
}

.slider-about h2:after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 66px;
    border-top: 2px solid #fff;
    content: "";
}

.slider-about p {
    font-family: 'ubuntu';
    font-size: 16px;
    color: #fff;
}

.swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
    margin-right: 9px;
}

.swiper-pagination {
    margin-top: 10px;
}

.ontheair {
    height: 65px;
    /*background: #242424;*/
    z-index: 10000 !important;
    background: radial-gradient(#323232, #242424);
}

.ontheair button {

    width: 39px;
    height: 39px;
    padding: 0;
    border: none;
    float: left;
    outline: none;
    margin-top: 13px;
}

#playYoutube {
    background: url('../img/play2.png') no-repeat 0 -39px;
}

#playYoutube:hover {
    background: url('../img/play2.png') no-repeat -39px -39px;
}

#pauseYoutube {
    background: url('../img/play2.png') no-repeat 0 0;
}

#pauseYoutube:hover {
    background: url('../img/play2.png') no-repeat -39px 0;
}

.ontheair button:hover {
    cursor: pointer;
}

.ontheair p {
    font-size: 20px;
    color: #fdd460;
    margin-left: 27px;
    margin-top: 0;
    line-height: 65px;
    text-transform: uppercase;
    width: 180px;
    float: left;
    font-family: "ubuntulight";
}

.ontheair p + p {
    width: 726px;
    text-transform: none;
    color: #fff;
    margin-left: 28px;
    white-space: nowrap;
}

.ontheair p + p span {
    color: #b3b3b3;
}

/*-----MAIN-----*/
.main {
    position: relative;
    overflow: hidden;
    background: white;
}

.main h2 {
    font-weight: 100;
    font-size: 22px;
    margin: 30px 0;
}

/*.main h2:after {
    position: absolute;
    top: 82px;
    left: 0;
    width: 66px;
    border-top: 2px solid #b3b3b3;
    content: "";
}*/

.left-block {
    position: relative;
    width: 240px;
    float: left;
}

.person-block {
    margin: 15px 0;
}

.person {
    position: relative;
    margin-top: 30px;
    height: 100px;
}

.person:first-child {
    margin-top: 0;
}

.person img {
    max-width: 120px;
    max-height: 80px;
    float: left;
    position: absolute;
    bottom: 0;
    -webkit-filter: grayscale(1); /* Webkit браузеры */
    filter: gray; /* для IE6-9 */
    filter: grayscale(1); /* W3C */
}

.person img + a {
    width: 100px;
    height: 58px;
    float: right;
    border-left: 1px solid #b3b3b3;
    padding-left: 16px;
    padding-top: 22px;
    text-decoration: none;
    font-size: 15px;
    color: #000;
}

.person:hover img {
    -webkit-filter: none; /* Webkit браузеры */
    filter: none; /* для IE6-9 */
    filter: none; /* W3C */
}

.person:hover img + a {
    text-decoration: underline;
}

.ad {
    margin: 15px 0;
    width: 240px;
    height: 400px;
}

.yandex-ad {
    text-align: center;
}

.center-block {
    position: relative;
    width: 454px;
    float: left;
    margin-left: 33px;
}

.center-block-big {
    position: relative;
    width: 727px;
    float: left;
    margin-left: 33px;
}

.author-about p + p {
    margin-top: 10px;
}

.right-block {
    position: relative;
    width: 240px;
    height: 1000px;
    margin-left: 33px;
    float: right;
}

.main .right-block {
    height: auto;
}

.main .right-block .teaser h4 {
    font-weight: 100;
}

.main .right-block .teaser + .teaser {
    margin-top: 20px;
}

.accounts .left-block {
    margin-top: 20px;
}

.main-posts .teaser {
    position: relative;
    margin-bottom: 14px;
    width: 220px;
    height: 184px;
}

.main-posts .teaser:first-child {
    width: 454px;
    height: 255px;
}

.main-posts .teaser:first-child img {
    width: 454px;
    height: 255px;
}

.main-posts .teaser:nth-child(2n) {
    float: left;
}

.main-posts .teaser:nth-child(2n+1) {
    float: right;
}

.main-posts .teaser img, .posts .teaser img {
    position: relative;
    z-index: 1;
    width: 220px;
    height: 124px;

}

.main-posts .teaser:first-child h4 {
    font-family: 'ubuntumedium';
    font-size: 22px;
    color: #fff;
    height: 170px;
    vertical-align: bottom;
    z-index: 10;
    position: relative;
    top: 0;
    display: table-cell;
    padding: 20px 20px 10px 20px;
    text-transform: uppercase;
}

.main-posts .teaser:first-child h4:after {
    position: absolute;
    top: 100%;
    left: 20px;
    width: 66px;
    border-top: 2px solid #b3b3b3;
    content: "";

}

.main-posts .teaser:first-child p {
    font-size: 22px;
    color: #b3b3b3;
    position: absolute;
    bottom: 0;
    z-index: 10;
    padding: 10px 20px 20px 20px;
    font-family: 'ubuntulight';
}

.main-posts .teaser:first-child .details p + p {
    font-size: 15px;
    position: absolute;
    z-index: 10;
    top: 15px;
    right: 15px;
    height: 14px;
    line-height: 14px;
    background: url(../img/views.png) 100% 45% no-repeat;
    padding: 0 20px 0 0;
}

.main-posts .teaser:first-child .details:hover {
    background-color: rgba(0, 0, 0, .1);
    cursor: pointer;
}

.main-posts .teaser:first-child .details {
    width: 454px;
    height: 255px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, .45);
    transition: background .25s;

}

.main-posts .teaser .details {
    position: relative;
}

.main-posts .teaser .details p + p {
    position: absolute;
    color: #b3b3b3;
    font-size: 12px;
    z-index: 10;
    top: -120px;
    right: 8px;
    height: 14px;
    line-height: 14px;
    background: url(../img/views.png) 100% 45% no-repeat;
    padding: 0 20px 0 0;
}

.main-posts .teaser a {
    text-decoration: none;
}

.main-posts .teaser:nth-child(n+2) a:hover .details h4, .main-posts .teaser:nth-child(n+2) a:hover .details h4 + p {
    text-decoration: underline;
}

.posts ul {
    margin: 14px 0;
}

.posts ul li {
    list-style-type: none;
    float: left;
    width: 220px;
    margin-left: 14px;
    height: 184px;
    margin-bottom: 14px;
}

.posts ul li:nth-child(2n+1) {
    margin-left: 0;
}

.posts ul li .teaser {
    position: relative;
}

.posts ul li .teaser .details p + p {
    position: absolute;
    color: #b3b3b3;
    font-size: 12px;
    z-index: 10;
    top: 5px;
    right: 8px;
    height: 14px;
    line-height: 14px;
    background: url(../img/views.png) 100% 45% no-repeat;
    padding: 0 20px 0 0;
}

.posts .teaser a, .gold .teaser a {
    text-decoration: none;
}

.posts .teaser a:hover .details h4, .posts .teaser a:hover .details h4 + p, .gold .teaser a:hover .details h4, .gold .teaser a:hover .details h4 + p {
    text-decoration: underline;
}

/*-----right-block-----*/
.support {
    width: 240px;
    height: 40px;
    margin-bottom: 15px;
}

.support a {
    width: 160px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    line-height: 40px;
    background: #115715;
    display: block;
    text-align: center;
    float: left;
}

.support select {
    width: 78px;
    float: right;
    height: 40px;
    background: #115715;
    color: #fff;
}

.support input[type=number]{  // FIXME: temporary
    width:78px;
    max-width: 72px;
    display: block;
    float: right;
    height: 40px;
    max-height: 38px;
    background: #115715;
    color: #fff;
}


.support option {
    min-height: 40px;
}

.poster a, .accounts .left-block .button {
    display: block;
    width: 218px;
    padding: 11px;
    background: #242424;
    text-align: center;
    font-size: 17px;
    font-family: 'ubuntumedium';
    color: #f2f2f2;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 6px;
}

.poster a:hover {
    background: #000;
}

.poster {
    margin: 15px 0;
}

/*-----footer-----*/
.footer {
    margin: 40px 0;
    position: relative;
}

.footer .container {
    border-top: 1px solid #b3b3b3;
}

.footer .nav {
    position: relative;
    height: 57px;
}

.footer ul {
    position: absolute;
    left: 50%;
    margin-left: -500px;
    margin-top: 40px;
}

.footer ul li {
    float: left;
    list-style-type: none;
    width: 155px;
    margin-left: 14px;
    font-size: 15px;
    color: #b3b3b3;
    text-transform: uppercase;
}

.footer ul li a {
    color: #b3b3b3;
}

.footer ul li:first-child {
    margin-left: 0;
}

.footer ul li:first-child a {
    color: #115715;
}

.footer ul li a:hover {
    color: #000;
}

.registration {
    font-family: 'ubuntulight';
    font-size: 13px;
    width: 500px;
    float: left;
    margin: 40px 0 80px 0;
}

.copy {
    font-family: 'ubuntulight';
    font-size: 13px;
    width: 500px;
    float: right;
    margin: 40px 0 80px 0;
    text-align: right;
}

.copy p + p {
    margin-top: 15px;
}

.marquee {
    width: 400px;
    overflow: hidden;
}

#hidden {
    position: absolute;
    left: 0;
    height: 590px;
    width: 100%;
    text-align: center;

}

.hide {
    top: -590px;
    opacity: 0;
    z-index: 10000;
    transition: 1s linear;
}

.vision {
    top: 0;
    z-index: 10000;
    opacity: 1;
    transition: 1s linear;
}

.black {
    background: black;
    transition: 0.5s linear;
    left: 0;
    top: 0;
    height: 590px;
    width: 100%;
    position: absolute;
    z-index: 10000;
}

.white {
    background: none;
    transition: 0.5s linear 1s;
    left: 0;
    top: 0;
    height: 590px;
    width: 100%;
    position: absolute;
    /*
    z-index: 10000;
    */
    animation-iteration-count: 1;
    animation: white 1.5s linear;
}

@keyframes white {
    0% {
        z-index: 10000;
    }
    100% {
        z-index: 0;
    }
}

.subscribe {
    position: relative;
}

.subscribe input {
    width: 186px;
    height: 30px;
    border: 1px solid #a2a8b0;
    font-family: 'ubuntulight';
    font-size: 18px;
    padding-left: 12px;
    padding-bottom: 2px;
    color: #a2a8b0;
    float: left;
}

.subscribe button {
    height: 34px;
    width: 40px;
}

.subscribe button:hover {
    cursor: pointer;
}

.subscribe span {
    font-size: 10px;
    position: absolute;
    top: -15px;
}

.book {
    width: 240px;
    height: 240px;
    margin-bottom: 20px;

    /*
    text-align: center;
    */
}

.book:hover img {
    -webkit-filter: none; /* Webkit браузеры */
    filter: none; /* для IE6-9 */
    filter: none; /* W3C */
}

.book img {
    width: 150px;
    height: 240px;
    border: 1px solid #a2a8b0;
    float: left;
    -webkit-filter: grayscale(1); /* Webkit браузеры */
    filter: gray; /* для IE6-9 */
    filter: grayscale(1); /* W3C */
}

.book p {
    font-size: 14px;
    padding-left: 160px;
}

.book p span {
    font-size: 22px;
}

.book button {
    height: 30px;
    background: #242424;
    color: #fff;
    border: none;
    margin-left: 10px;
}

.book button:hover {
    cursor: pointer;
    background: #000;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

.toauthor {
    position: relative;
}

.toauthor select {
    width: 200px;
    height: 34px;
    border: 1px solid #a2a8b0;
    font-family: 'ubuntulight';
    font-size: 18px;
    padding-left: 12px;
    padding-bottom: 2px;
    color: #a2a8b0;
    float: left;
}

.toauthor button {
    width: 40px;
    height: 34px;
}

.toauthor button:hover {
    cursor: pointer;
}

.toauthor span {
    font-size: 10px;
    position: absolute;
    top: -15px;
}

.logo-small {
    float: left;
    width: 225px;
    height: 65px;
    background: url('../img/logo.png') 50% 50% no-repeat;
}

.author-stat {
    position: absolute;
    top: 34px;
    right: 0;
}

.author-stat p {
    color: #808080;
    font-size: 12px;
}

.author-stat p a {
    color: #808080;
}

.author-stat p a:hover {
    color: #000;
}

.rectangle {
    display: flex;
    flex-direction: column-reverse;
    counter-reset: li;
    list-style: none;
    font: 14px "Trebuchet MS", "Lucida Sans";
    padding: 0;
    /*text-shadow: 0 1px 0 rgba(255, 255, 255, .5);*/
}

.rectangle p {
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    margin: .5em 0 .5em 2.5em;
    background: #D3D4DA;
    color: #000;
    text-decoration: none;
    transition: all .3s ease-out;
}

.rectangle p:hover {
    background: #DCDDE1;
}

.rectangle p:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -2.5em;
    top: 18%;
    margin-top: -1em;
    background: #000;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    color: #fff;
}

.rectangle p:after {
    position: absolute;
    content: "";
    border: .5em solid transparent;
    left: -1em;
    top: 18%;
    margin-top: -.5em;
    transition: all .3s ease-out;
}

.rectangle p:hover:after {
    left: -.5em;
    border-left-color: #000;
}

.video {
    background: #000;
}

.video-about p + p {
    margin-top: 10px;
}

.tags {
    margin: 10px 0 60px 0;
    font-size: 12px;
}

.tags a {
    font-size: 12px;
    color: #808080;
}

.tags i {
    float: left;
    margin-top: 4px;
}

.tags ul li {
    list-style: none;
    float: left;
    margin-left: 5px;
}

.share {
    margin-top: 20px;
}

.share ul li {
    display: inline-block;
    list-style-type: none;
    height: 34px;
    min-width: 100px;
}

.share ul li:first-child .cnt {
    background: url(../img/fb.png) no-repeat 50% 50%;
    background-color: rgba(0, 0, 0, 0.4);
}

.share ul li:nth-child(2) .cnt {
    background: url(../img/vk.png) no-repeat 50% 50%;
    background-color: rgba(0, 0, 0, 0.4);
}

.share ul li:nth-child(3) .cnt {
    background: url(../img/ok.png) no-repeat 50% 50%;
    background-color: rgba(0, 0, 0, 0.4);
}

.share ul li:nth-child(4) .cnt {
    background: url(../img/twitter.png) no-repeat 50% 50%;
    background-color: rgba(0, 0, 0, 0.4);
}

.share ul li .cnt {
    width: 24px;
    height: 24px;
    margin-top: 6px;
    display: inline-flex;
}

.share ul li .cnt:hover {
    background-color: #000;
    cursor: pointer;
}

.share ul li .cnt em {
    position: relative;
    margin-left: 38px;
    margin-top: -4px;
    display: inline-block;
    padding: 0 10px;
    line-height: 32px;
    font-style: normal;
    border: 1px solid #dadada;
    /* border-left: none; */
    height: 32px;
}

.share ul li .cnt em:before {
    background: url(../img/arrows.png) left center no-repeat;
    content: '';
    height: 34px;
    width: 6px;
    left: 44px;
    position: absolute;
    top: -1px;
    left: -6px;
}

.authors {
    margin-top: 50px;
}

.authors ul {
    overflow: hidden;
}

.authors ul li {
    width: 200px;
    margin-bottom: 20px;
    list-style-type: none;
    float: left;
    margin-right: 20px;
    border: 1px solid grey;
}

.authors-word {
    width: 100%;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
}

.authors-word div {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    position: absolute;
    right: 0;
    font-family: 'ubuntumedium';
    font-size: 32px;
    color: grey;
    text-align: center;
    line-height: 50px;
}

.authors .person-lid {
    width: 200px;
    height: 200px;

}

.authors ul li:hover {
    border: 1px solid black;
}

.authors .person-lid .person-photo {
    width: 200px;
    height: 150px;
}

.authors .person-lid .person-photo img {
    position: relative;
    width: 200px;
    height: 150px;
}

.authors .person-lid .person-about {
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.authors .person-lid .person-about a {
    color: black;
    text-decoration: none;
}

/*----popup----*/
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
    z-index: 1000;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 60%;
    position: relative;
    transition: all 5s ease-in-out;
    font-family: 'ubuntu';
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: 'ubuntumedium';
    margin-bottom: 20px;
}

.popup .close {
    position: absolute;
    top: 10px;
    right: 20px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #808080;
}

.popup .close:hover {
    color: #000;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

.popup p {
    color: #808080;
    margin-bottom: 10px;
    max-width: 95%;
}

.popup p span {
    color: #000;
}

.popup textarea {
    width: 95%;
    max-width: 95%;
    min-height: 14em;
    margin-bottom: 1%;
    /*  min-height: 40%;*/
}

.popup input {
    height: 25px;
    width: 60%;
    margin-bottom: 1%;
}

.popup input[type="button"] {
    margin: 0 auto;
    width: 40%;
    height: 50px;
    display: block;
    padding: 10px;
    background: #808080;
    text-align: center;
    font-size: 17px;
    font-family: 'ubuntumedium';
    color: #f2f2f2;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 15px;
    border: none;

}

.popup input[type="button"]:hover,.popup input[type="button"]:active {
    cursor: pointer;
    background: #000;

}

.popup input:nth-child(2) {
    float: left;
}

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .popup {
        width: 70%;
    }


.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #000;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}