{%- extends "sidebar.html" -%}

{%- from "macros.html" import render_comments_for -%}

{%- block page_title -%}{{super()}}{{" / "}}Новости{{" / "}}{{item.title}}{%- endblock -%}

{%- block page_head_add -%}
<meta property="fb:app_id" content="346827865371446">
<meta property="og:locale" content="ru_RU" />
<meta property="og:title" content="{{item.title|e}}">
<meta property="og:url" content="http://dentv.ru{{item.get_absolute_url()}}">
<meta property="og:site_name" content="DenTv.Ru">
<meta property="og:type" content="article">
<meta property="og:description" content="{{item.text|e}}">
{%- endblock -%}

{%- block page_header_content -%}
<h6><a href="{% url 'news.view.list' %}">Новости</a></h6>
<div class="standard-block">
    <div class="program-logo-placeholder"></div>
    <h5>{%- if item.is_important -%}Тема дня{%- else -%}&nbsp;{%- endif -%}</h5>
</div>
{%- endblock -%}

{%- block content -%}
<div class="page-content">
    {%- if not item.is_important -%}<noindex>{%- endif -%}
    <ul class="entryparts">
        <li class="content">
            <h4>{{item.title}}</h4>
            <time>{{item.pub_date|ru_strftime(True, '%d %B %Y')}}</time>
            <div>{{item.text|nl2br}}</div>
        </li>
        <li class="content"><a rel="nofollow" href="{{item.original_url}}">{{item.original_url}}</a></li>
        <li class="info">
            <dl class="rating">
                <dt><i class="icon"></i>Рейтинг</dt>
                <dd>
                    <span>{{item.get_rating()}}</span>
                    <a href="/voting/vote/{{ item.get_content_type().id }}/{{ item.id }}/up/" class="vote-up">+</a>
                    <a href="/voting/vote/{{ item.get_content_type().id }}/{{ item.id }}/down/" class="vote-down">&ndash;</a>
                </dd>
            </dl>
        </li>
        <li class="social">
            {%- set fullpageurl = 'http://' + request.META.HTTP_HOST + request.path -%}
            <div class="socialite twitter-share" data-url="{{fullpageurl|e}}" data-count="vertical" data-via="DenTvRu" data-lang="ru" data-counturl="http://dentv.ru{{request.path|e}}" data-text="День-ТВ:{{" "}}{{item.title|e|truncate(length=140)}}"></div>
            <div class="socialite facebook-like" data-href="{{fullpageurl|forceescape}}" data-send="false" data-layout="box_count" data-font="arial" data-show-faces="false" data-width="65"></div>
            <div class="socialite googleplus-one" data-expandTo="bottom" data-size="tall"></div>
            <div class="socialite vkontakte-like" data-type="vertical" data-verb="1" data-height="24" data-pageTitle="{{item.title|e}}" data-pageUrl="{{fullpageurl|forceescape}}"></div>
        </li>
    </ul>
    {%- if not item.is_important -%}</noindex>{%- endif -%}
</div>
<a name="comments"></a>
<dl class="tabs">
    <dt>Комментарии</dt>
    <dd>{{render_comments_for(item, request.user, messages, csrf_token)}}</dd>
</dl>
{%- endblock -%}