{%- extends "sidebar.html" -%}

{%- from "macros.html" import pagination -%}

{%- block app_content_header -%}<div class="page-head"></div>{%- endblock -%}

{%- block sidebar -%}
<h6>Присоединяйтесь к нам</h6>
<ul class="block follow">
    <li><a href="http://www.facebook.com/DenTvRu" class="facebook"></a></li>
    <li><a href="http://vk.com/public38085148" class="vk"></a></li>
    <li><a href="http://twitter.com/DenTvRu" class="twitter"></a></li>
    <li><a href="http://www.youtube.com/channel/UCZNKg6NI7mah4i3dE6m0oYw" class="youtube"></a></li>
</ul>
{%- if not user or not user.is_authenticated() -%}
<h6>Регистрация</h6>
<div class="block"><a class="register-banner" href="/accounts/register/"></a></div>
{%- endif -%}

{%- if common['announce'] -%}
<h6>Скоро</h6>
<div id="announce_scroller">
    <a class="scroll-up" href="#"></a>
    <div class="canvas">
        <ul class="scrollable">
            {%- for item in common['announce'] -%}
            <li>
                self.format_date(item.released_at, inflected=True, format=u'%d %B, %H.%M')
                <h2>{{ item.title }}</h2>
                <p>{{ item.description }}</p>
                {%- set participants = common['participants_dict'][item.pk] -%}
                {%- if participants|length > 0 -%}
                <span>участники:</span>
                {%- for participant in participants -%}
                {%- set part_id = participant.user_id -%}
                <a href="{{ participant.user.get_absolute_url() }}">{{ participant.user.display_name }}</a>,
                {%- endfor -%}
                {%- endif -%}
            </li>
            {%- endfor -%}
        </ul>
    </div>
    <a class="scroll-down" href="#"></a>
 </div>
 {%- endif -%}

 <div class="socialite facebook-likebox"></div>
 <fb:like-box href="http://www.facebook.com/DenTvRu" width="300" show_faces="true" stream="false" header="false"></fb:like-box>
 <div class="socialite vkontakte-group" data-id="38085148"></div>
 {%- endblock sidebar -%}

{%- block content -%}
<h6>Новости</h6>
<div>
    <ul class="block news">
    {%- for item in items -%}
        <li>
            <h5>
                <a href="{{ item.get_absolute_url() }}">{{ item.pub_date|ru_strftime(i=True, f='%d %B %Y в %H:%M') }}</a>
            </h5>
            <p><a href="{{ item.get_absolute_url() }}">{{ item.title }}</a></p>
        </li>
    {%- endfor -%}
    </ul>
    {%- if is_paginated -%}{{ pagination(page_obj, request) }}{%- endif -%}
</div>
{%- endblock -%}
