{%- if not request.is_ajax() -%}{%- extends "base.html" -%}{%- endif -%}

{%- block app_base -%}

    {%- block app_content_header -%}
<section{% if request.path == '/' %} class="header"{% else %} {% if '/content/view/' in request.path %} class="header video" {% else %} class="header_inner" {% endif %}{% endif %}>

    {%- block header_container -%}

    <div class="container">

        <div class="logo">
            <a href="/"><img src="{{ STATIC_URL }}img/logo.png"/></a>
        </div>
        <div class="menu">
            <ul>
                <li><a href="{% url 'accounts.view.list' %}">публицисты</a></li>
                <li><a href="{% url 'programs.view.list' %}">программы</a></li>
            </ul>
        </div>
        <div class="search">
            <form action="/search/" method="get"><input id="livesearch" type="text" placeholder="поиск" value=""
                                                        name="query"></form>
        </div>
        <div class="social">
            <ul>
                <li>
                    <a href="https://vk.com/dentvru"></a>
                </li>
                <li>
                    <a href="https://www.facebook.com/DenTvRu/"></a>
                </li>
                <li>
                    <a href="https://twitter.com/dentvru"></a>
                </li>
                <li>
                    <a href="https://ok.ru/dentv"></a>
                </li>
            </ul>
        </div>
    </div>
  {%- endblock header_container -%}
    <div id="black" class="white">

    </div>
    <div id="hidden" class="hide">
        <iframe width="1049" height="590" src="https://www.youtube.com/embed/rzcbrm20Oek?rel=0&enablejsapi=1"
                frameborder="0"
                allowfullscreen id="Youtube"></iframe>
    </div>

</section>
<section class="ontheair" id="sticker">
    <div class="container">
        <button id="playYoutube" class="hider visible">
        </button>
        <button id="pauseYoutube" class="hider invisible">
        </button>

        <p>Сейчас в Эфире:</p>

        <p class="marquee">

            <span>Андрей Фурсов</span> "Смерть людоеда: правда и мифы о Рокфеллере"

        </p>

    </div>
</section>
    {%- endblock -%}


<section class="main">
    <div class="container">
    {%- block app_content_leftbar -%}{%- endblock -%}
    {%- block app_content -%}{%- endblock -%}
    {%- block app_content_rightbar -%}{%- endblock -%}
    </div>
</section>


    {%- block app_content_footer -%}{%- endblock -%}

{%- endblock -%}
