<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>День ТВ</title>
<!--
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
-->
    <meta name="viewport" content="width=1024px">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/swiper.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/liMarquee.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/exstyles.css"/>
    <script src="https://use.fontawesome.com/2103a4f50a.js"></script>

</head>
<body>

{%- block app_base -%}{%- endblock -%}
<section class="footer">
    <div class="container">
        <div class="nav">
            <ul>
                <li><a href="#">реклама</a></li>
                <li><a href="#">контакты</a></li>
                <li><a href="{% url 'accounts.view.list' %}">публицисты</a></li>
                <li><a href="{% url 'programs.view.list' %}">программы</a></li>
                <li><a href="#">золотой фонд</a></li>
                <li><a href="#">книжный магазин</a></li>
            </ul>
        </div>
        <div class="registration">
            <p>Свидетельство о регистрации средства массовой информации<br/>
                Эл No ФС77-59858 от 17 ноября 2014 выдано Федеральной службой<br/>
                по надзору в сфере связи, информационных технологий и массовых<br/>
                коммуникаций (Роскомнадзор).</p>
        </div>
        <div class="copy">
            <p>Любое использование материалов<br/>
                допускается только с согласия редакции.</p>

            <p><i class="fa fa-copyright" aria-hidden="true"></i>{{ common['now'].year }}. Все права защищены.</p>
        </div>
    </div>
</section>
<script src="https://yastatic.net/jquery/3.1.1/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/swiper.jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/swiper.js"></script>
<script src="{{ STATIC_URL }}js/jquery.sticky.js"></script>
<script type='text/javascript' src='//cdn.jsdelivr.net/jquery.marquee/1.4.0/jquery.marquee.min.js'></script>
<script type="text/javascript">// <![CDATA[
$(document).ready(function () {
    $("#playYoutube").click(function () {
        $("#hidden").toggleClass("hide vision");
        $("#black").toggleClass("white black");
        $("#playYoutube").toggleClass("invisible visible");
        $("#pauseYoutube").toggleClass("visible invisible");
        $('body,html').animate({scrollTop: 0}, 1000);
        return false;
    });
    $("#pauseYoutube").click(function () {
        $("#hidden").toggleClass("vision hide");
        $("#black").toggleClass("black white");
        $("#playYoutube").toggleClass("visible invisible");
        $("#pauseYoutube").toggleClass("invisible visible");
        return false;
    });
});
// ]]>
</script>

<script>
    $(document).ready(function () {
        $("#sticker").sticky({topSpacing: 0});
    });
</script>
<script src="//www.youtube.com/player_api"></script>
<script>
    function onYouTubePlayerAPIReady() {
        player = new YT.Player('Youtube', {
            events: {'onReady': onPlayerReady}
        });
    }
    function onPlayerReady(event) {
        document.getElementById("playYoutube").addEventListener("click", function () {
            player.playVideo();
        });
        document.getElementById("pauseYoutube").addEventListener("click", function () {
            player.pauseVideo();
        });
    }
</script>
</body>
</html>
