{%- macro video_tile_teaser(entry, last=False, no_program=False) -%}
                <article class="teaser">
                    <a href="{{ entry.get_absolute_url() }}">
                        <img
                            alt="{{ entry.title|e }}"
                            title="{{ entry.title|e }}"
                            src="{{ entry.thumb_400.url }}"/>

                        <div class="details">
                            <h4>{{ entry.title|truncate(42) }}</h4>

                            <p>{{entry.authors}}</p>

                            <p id="views{{entry.video_id()}}"></p>
                            <script>
                              $.getJSON('https://www.googleapis.com/youtube/v3/videos?part=statistics&id={{entry.video_id()}}&key=AIzaSyDZdnf2KPPk9dmCULjvslT_9z7jpx1tarU', function(data) {
                                $('#views{{entry.video_id()}}').html(data.items[0].statistics.viewCount);
                              });
                            </script>
                        </div>
                    </a>
                </article>
{%- endmacro %}



{%- macro video_tile(size, entry, last=False, no_program=False) -%}
<li itemscope itemtype="http://schema.org/VideoObject" class="video-tile-{{size}}{% if last %}{{ " clear" }}{% endif %}">
    {%- if not no_program -%}
    <h6><a href="{{entry.program.get_absolute_url()}}">{{entry.program.title}}</a></h6>
    {%- endif -%}
    <div class="figure figure-{{size}}">
        <a href="{{entry.get_absolute_url()}}">
            <meta itemprop="thumbnail" content="{{entry.thumb_400.url}}">
            <img
              class="lazy"
              alt="{{entry.title|e}}"
              src="{{entry.thumb_190.url if size == 'small' else entry.thumb_400.url}}"
              title="{{entry.title|e}}">
        </a>
    </div>
    {#<a href="{{entry.get_absolute_url()}}" class="comments-count"><i class="icon"></i>{{entry.comments_count}}</a>#}
    <a href="{{entry.get_absolute_url()}}" class="pubdate">
        <time itemprop="uploadDate" datetime="{{entry.released_at.strftime("%Y-%m-%dT%H:%M:%S")}}">{{entry.released_at|ru_strftime(True, '%d %B, %H:%M')}}</time>
    </a>
    <h4><a itemprop="name" href="{{entry.get_absolute_url()}}">{{entry.title}}</a></h4>
    <p>{{entry.description}}</p>
</li>
{%- endmacro %}

{% macro video_tile_topic(size, entry, topic, last=False) -%}
<li itemscope itemtype="http://schema.org/VideoObject" class="video-tile video-tile-{{size}}{% if last %}{{ " clear" }}{% endif %}">
    <h6><a href="{{topic.get_absolute_url()}}">{{topic.title}}</a></h6>
    <div class="figure figure-{{size}}">
        <a href="{{entry.get_absolute_url()}}">
            <img
              itemprop="thumbnail"
              alt="{{entry.title|e}}"
              src="{{entry.thumb_190.url if size == 'small' else entry.thumb_400.url}}">
        </a>
    </div>
    {#<a href="{{entry.get_absolute_url()}}" class="comments-count"><i class="icon"></i>{{entry.comments_count}}</a>#}
    <a href="{{entry.get_absolute_url()}}" class="pubdate">
        <time itemprop="uploadDate" datetime="{{entry.released_at.strftime("%Y-%m-%dT%H:%M:%S")}}">{{entry.released_at|ru_strftime(True, '%d %B, %H:%M')}}</time>
    </a>
    <h4><a itemprop="name" href="{{entry.get_absolute_url()}}">{{entry.title}}</a></h4>
    <p>{{entry.description}}</p>
</li>
{%- endmacro %}

{#
{% macro author_tile(size, profile, last=False) -%}
<div class="video-tile video-tile-{{ size }}{% if last %}{{ " clear" }}{% endif %}">
    <h6><a href="{{ profile.get_absolute_url() }}">{{ profile.display_name }}</a></h6>
    <div class="image">
        <a href="{{ profile.get_absolute_url() }}">{% if profile.avatar_source %}
            <img src="{{ profile.avatar_150.url }}" width="150"/>
            {% else %}
            <img src="{{ STATIC_URL }}images/noavatar_150.jpg" width="150" />
            {% endif %}
        </a>
    </div>
    <p>{{ profile.about }}</p>
</div>
{%- endmacro %}
#}

{%- macro pagination(page, request) -%}
{%- set pp = pageiter(request) -%}
<ul class="pages">
    {%- set has_prev = page.has_previous() -%}
    {%- set has_next = page.has_next () -%}
    <li class="prev{% if not has_prev %}{{ " inactive" }}{% endif %}">
        {%- if has_prev -%}<a rel="page" href="{{pp(page.number-1)}}"></a>{%- endif -%}
    </li>
    {%- for p in page|pages_range -%}
    <li>
        {%- if p == page.number -%}<span class="indicator top"></span>{%- endif -%}
        <a rel="page" href="{{pp(p)}}">{{p}}</a>
        {%- if p == page.number -%}<span class="indicator bottom"></span>{%- endif -%}
    </li>
    {%- endfor -%}
    <li class="next{% if not has_next %}{{ " inactive" }}{% endif %}">
        {%- if has_next -%}<a rel="page" href="{{pp(page.number+1)}}"></a>{%- endif -%}
    </li>
</ul>
{%- endmacro -%}

{% macro render_poll(poll, request, csrf_token) -%}
<h6>Опрос</h6>
<div class="poll">
    <h4>{{ poll.title }}</h4>
    <form action="/colloquium/poll/{{ poll.id }}/" class="mb3" method="post">
        <input type="hidden" name="next" value="{{request.META.PATH_INFO}}">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <ul>
            {%- if not request.user.is_authenticated() or poll.user_has_voted(request.user) -%}
            {%- for option in poll.options_and_votes -%}
            <li class="voted">
                {{ option.option }}&nbsp;&mdash;&nbsp;{{ 100*(option.votes/poll.overall_votes) }}%&nbsp;({{ option.votes }})
                <span class="voted_fill">
                    <span class="voted_fill_ruler" style="width: {{ 100*(option.votes/poll.overall_votes) }}%"></span>
                </span>
            </li>
            {%- endfor -%}
            {%- else -%}
            {%- for option in poll.options.all() -%}
            <li>
                <label for="poll-{{ poll.id }}-option-{{ option.id }}">
                    <input name="poll.{{ poll.id }}" id="poll-{{ poll.id }}-option-{{ option.id }}" type="{% if poll.allow_multiple %}checkbox{% else %}radio{% endif %}" value="{{ option.id }}">
                    {{ option.option }}
                </label>
            </li>
            {%- endfor -%}
            <li><button type="submit">Голосовать</button></li>
            {%- endif -%}
        </ul>
    </form>
</div>
{%- endmacro %}

{%- macro render_questions_for(obj, current_user, messages, csrf_token) -%}
<ul class="comments questions">
    {% for question in obj.questions.all() %}
    <li>
        <div class="user">
            <a name="question-{{ question.id }}" href="{{ question.author.get_absolute_url() }}">
                {%- if question.author.avatar_source != '' -%}
                <img src="{{ question.author.avatar_50.url }}" width="50" height="50" />
                {%- else -%}
                <img src="{{ STATIC_URL }}/images/noavatar_50.png" width="50" height="50" />
                {%- endif -%}
            </a>
            <div class="info">
                <span><a href="{{ question.author.get_absolute_url() }}">{{ question.author.screen_name }}</a></span>
                <time pubdate="{{ question.created_at.strftime("%Y-%m-%d%H:%MZ") }}">{{ question.created_at|ru_strftime(f='%d.%m.%Y') }}</time>
            </div>
        </div>
        <div class="body">{{ question.text }}</div>
    </li>
    {%- else -%}
    <li>Вопросов пока нет</li>
    {%- endfor -%}
    {%- if current_user and current_user.is_authenticated() and obj.comments_allowed -%}
    <li>
        <form action="{% url 'entries.view.add_question' %}" method="post">
            <div class="user">
                <a>
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
                    {%- if current_user.avatar_source != '' -%}
                    <img src="{{ current_user.avatar_50.url }}" width="50" height="50" />
                    {%- else -%}
                    <img src="{{ STATIC_URL }}/images/noavatar_50.png" width="50" height="50" />
                    {%- endif -%}
                </a>
                <div class="info"><span>{{ current_user.screen_name }}</span></div>
            </div>
            <div class="body">
                {{ obj.question_form.as_p() }}
                {%- if messages is defined -%}{%- for msg in messages -%}{%- if 'question_form' in msg.extra_tags -%}
                <p class="error">{{ msg }}</p>
                {%- endif -%}{%- endfor -%}{%- endif -%}
                <p class="controls"><input type="submit" value="Задать вопрос" /></p>
            </div>
        </form>
    </li>
    {%- endif -%}
</ul>
{%- endmacro -%}

{%- macro google_analytics(gaid) -%}
<script type="text/javascript">var _gaq=_gaq||[];_gaq.push(['_setAccount','{{gaid}}']);_gaq.push(['_trackPageview']);(function(){var ga=document.createElement('script');ga.type='text/javascript';ga.async=true;ga.src=('https:'==document.location.protocol?'https://ssl' :'http://www')+'.google-analytics.com/ga.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga,s);})();</script>
{%- endmacro -%}

{%- macro ya_metrika(yaid) -%}
<script type="text/javascript">(function (d,w,c){(w[c]=w[c]||[]).push(function(){try{w.yaCounter{{yaid}} = new Ya.Metrika({id:{{yaid}},enableAll:true,webvisor:false});}catch(e){}});var n=d.getElementsByTagName("script")[0],s=d.createElement("script"),f=function(){n.parentNode.insertBefore(s,n);};s.type="text/javascript";s.async=true;s.src=(d.location.protocol=="https:"?"https:":"http:")+"//mc.yandex.ru/metrika/watch.js";if(w.opera=="[object Opera]"){d.addEventListener("DOMContentLoaded",f);}else{f();}})(document,window,"yandex_metrika_callbacks");</script>
        <noscript><div><img src="//mc.yandex.ru/watch/{{yaid}}" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
{%- endmacro -%}

{%- macro li_ru() -%}
<script type="text/javascript">document.write("<a href='http://www.liveinternet.ru/click' target=_blank><img src='//counter.yadro.ru/hit?t26.6;r"+escape(document.referrer)+((typeof(screen)=="undefined")?"":";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+";h"+escape(document.title.substring(0,80))+";"+Math.random()+"' border=0 width=88 height=15 alt='' title='LiveInternet: number of visitors for today is shown'><\/a>")</script>
{%- endmacro -%}

{%- macro login_modal(request, csrf_token) -%}
{%- if not (request.user and request.user.is_authenticated()) -%}
<div class="modal-container hidden">
    <div class="modal" id="loginModal">
        <div class="modal-body">
            <h2>Авторизоваться</h2>
            <div class="login-type">
                <form action="{% url 'accounts.view.login' %}" method="post" class="bare">
                    <ul class="rowform">
                        <li>
                            <label for="login-login">Email</label>
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <input id="login-login" type="text" name="login">
                        </li>
                        <li>
                            <label for="login-password">Пароль</label>
                            <input id="login-password" type="password" name="password">
                        </li>
                        <li class="submit"><input type="submit" value="Войти"></li>
                    </ul>
                </form>
            </div>
            <div class="login-type">Забыли пароль? Воспользуйтесь <a href="{% url 'accounts.view.recover' %}" class="link_to_reg">механизмом сброса пароля</a>, чтобы восстановить доступ к аккаунту.</div>
            <div class="login-type">
                <h2>Авторизоваться через аккаунт соц. сетей</h2>
                <p>Вы также можете воспользоваться своим профилем в одной из социальных сетей, чтобы войти.</p>
                <ul>
                    <li><a rel="nofollow" href="/social/login/facebook/?next={{request.path}}" class="bare facebook"><i class="icon"></i>Facebook</a></li>
                    <li><a rel="nofollow" href="/social/login/vkontakte-oauth2/?next={{request.path}}" class="bare vk"><i class="icon"></i>ВКонтакте</a></li>
                    <li><a rel="nofollow" href="/social/login/twitter/?next={{request.path}}" class="bare twitter"><i class="icon"></i>Twitter</a></li>
                </ul>
            </div>
            <div class="login-type">Еще не зарегистрировались на сайте? <a href="{% url 'accounts.register' %}" class="link_to_reg">Сделайте это сейчас</a>, это займет не более минуты.</div>
        </div>
    </div>
</div>
{%- endif -%}
{%- endmacro -%}
