{% extends "sidebar.html" %}

{% from "macros.html" import video_tile, pagination %}

{% block page_title %}{{super()}}{{" / "}}Поиск{% endblock %}

{%- block ontheair -%}
<section class="ontheair">
	<div class="container">
			<a href="#">
					<div class="logo-small"></div>
			</a>
			<div class="big-search">
					<form action="/search/" method="get"><input id="livesearch" type="text" placeholder="{{query|e}}" value=""
																																					name="query"></form>
			<button>поиск</button>
			</div>

	</div>
</section>
{% endblock%}

{%- block app_base-%}
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>
	<script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>

	<section class="ontheair">
		<div class="container">
				<a href="/">
						<div class="logo-small"></div>
				</a>
				<div class="big-search">
						<form action="/search/" method="get"><input id="livesearch" type="text" placeholder="{{query|e}}" value=""
																																						name="query"></form>
				<button>поиск</button>
				</div>

		</div>
	</section>

	<section class="main accounts">
    <div class="container">
        <div class="left-block">

        </div>
		<div class="infinity-container">
			<div class="center-block">
				<h2>Результаты по запросу: "{{query|e}}"</h2>
						<div class="posts">
					<ul>
						{%- for entry in entries -%}
							<li>
								{{video_tile_teaser(entry=entry)}}
							</li>
						{%- endfor -%}
					</ul>
				</div>
			</div>
		</div>

		<div class="loader"></div>

		{%- if page_obj.has_next -%}
			<a class="infinity-more-link" href=?page={{entries.next_page_number}}">Больше</a>
		{%- endif -%}

		 <script>
			var infinite = new Waypoint.Infinite({
			  element: $('.infinite-container')[0],
			  onBeforePageLoad: function () {
				$('.loader').show();
			  },
			  onAfterPageLoad: function ($items) {
				$('.loader').hide();
			  }
			});
		  </script>


        <div class="right-block">

        </div>
    </div>
	</section>
{%- endblock -%}
