{% extends "app_base.html" %}

{# {%- from 'macros.html' import render_poll -%} #}
{%- from 'macros.html' import video_tile_teaser -%}

{%- block header_container -%}
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {#<div class="swiper-slide" style="background-image:url(http://i.imgur.com/ZuFftPB.jpg)">
                <div class="slider-about">
                    <h2>Новый Майдан</h2>

                    <p>Возможен ли третий Майдан на Украине? Кто заинтересован в его организации? Долго ли протянет
                        нынешняя украинская власть?<br/><br/>Олег Царёв</p>

                    <div class="swiper-pagination swiper-pagination-white"></div>
                </div>
            </div>
            <div class="swiper-slide"
                 style="background-image:url(https://defence.ru/assets/content/article/1455/42904/b-52g-with-agm-86b-alcms-fotor.jpg?nocache=136149)">
                <div class="slider-about">
                    <h2>Американские ПРО</h2>

                    <p>Стоит ли бояться размещения американской системы ПРО в Польше и Болгарии?<br/><br/>На вопросы
                        отвечает Константин Душенов.</p>

                    <div class="swiper-pagination swiper-pagination-white"></div>
                </div>
            </div>
            <div class="swiper-slide"
                 style="background-image:url(https://artchive.ru/res/media/img/oy800/work/7ed/356490.jpg)">
                <div class="slider-about">
                    <h2>Заговор в Российской Империи</h2>

                    <p>Кто предал Николая II? Возможно было сохранить империю или она была обречена?<br/><br/>Борис Юлин
                    </p>

                    <div class="swiper-pagination swiper-pagination-white"></div>
                </div>
            </div> #}
        {% if common['sliders'] %}
            {% for slider in common['sliders'] %}
                <div class="swiper-slide"
                 style="background-image:url({{slider.image_source.url}})">
                <div class="slider-about">
                    {{slider.code}}

                    <div class="swiper-pagination swiper-pagination-white"></div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
         </div>
    </div>
    {# TODO:FIXME #}
    <div class="container">

        <div class="logo">
            <a href="/"><img src="{{ STATIC_URL }}img/logo.png"/></a>
        </div>
        <div class="menu">
            <ul>
                <li><a href="{% url 'accounts.view.list' %}">публицисты</a></li>
                <li><a href="{% url 'programs.view.list' %}">программы</a></li>
            </ul>
        </div>
        <div class="search">
            <form action="/search/" method="get"><input id="livesearch" type="text" placeholder="поиск" value=""
                                                        name="query"></form>
        </div>
        <div class="social">
            <ul>
                <li>
                    <a href="https://vk.com/dentvru"></a>
                </li>
                <li>
                    <a href="https://www.facebook.com/DenTvRu/"></a>
                </li>
                <li>
                    <a href="https://twitter.com/dentvru"></a>
                </li>
                <li>
                    <a href="https://ok.ru/dentv"></a>
                </li>
            </ul>
        </div>
    </div>
{%- endblock header_container -%}

{%- block app_content_leftbar -%}
        <div class="left-block">
            <h2><i class="fa fa-user-o" aria-hidden="true"></i> Публицисты</h2>

            <div class="person-block">
                {%- for entry in top_entries -%}
                <div class="person">
                    {% if entry.program.owner.avatar_150 %}
                    <img src="{{ entry.program.owner.avatar_150.url }}"/>
                    {% endif %}
                    <a href="{{ entry.program.owner.get_absolute_url() }}">{{ entry.program.owner.display_name }}</a>
                </div>
                {# {%- if loop.index == 1 -%}
            </div>
            <div class="ad">
                <img src="http://alfa-63.ru/thumb/Kw9Ziz0Du-A9KLtXnGevrQ/580r450/238632/%D0%98%D0%BD%D1%82%D0%B5%D1%80%D0%BD%D0%B5%D1%82-%D0%B1%D0%B0%D0%BD%D0%BD%D0%B5%D1%80_240%D1%85400_%D0%BD%D0%B0_%D1%81%D0%B0%D0%B9%D1%82.gif"/>
            </div>
            <div class="person-block">
                {%- endif -%}
                {%- if loop.index == 3 -%}
            </div>
            <div class="ad">
                <img src="https://profitserver.ru/en/images/profit-banner-240x400-eng.gif"/>
            </div>
            <div class="person-block">
                {%- endif -%}#}
                {#
                {%- if common['banners']['left_banners'] -%}
                    <div class="yandex-ad">
                        <img src="http://i.imgur.com/jVYD98a.png"/>
                    </div>
                    {{common['banners'][0]}}
                {%- endif -%}
                #}

                {%- if loop.index == 1 -%}
                    {% if common['banners']['left_banners'] %}
                    {{common['banners']['left_banners'].get().code}}
                    {% endif %}
                {%- endif -%}

                {%- if (loop.index % 3 == 0) -%}
                    {#{{common['banners']['left_banners'].iterator().next().code}}#}
                {%- endif -%}

                {%- endfor -%}
            </div>
        </div>
{%- endblock app_content_leftbar -%}

{%- block app_content -%}
        <div class="center-block">
            <h2><i class="fa fa-youtube-play" aria-hidden="true"></i> Последние ролики</h2>

            {%- block content -%}
            {%- endblock content -%}

        </div>
{%- endblock app_content -%}

{%- block app_content_rightbar -%}
        <div class="right-block">

            <h2><i class="fa fa-handshake-o" aria-hidden="true"></i> Поддержать канал</h2>

            <div class="donate">
                <div class="support">
                    <form id="donate_form" method="POST" action="https://demomoney.yandex.ru/quickpay/confirm.xml">
                        <input type="hidden" name="receiver" value="4100324862857">
                        <input type="hidden" name="quickpay-form" value="donate">
                        <input type="hidden" name="targets" value="donate">
                        <a href="javascript:{}" onclick="document.getElementById('donate_form').submit(); return false;">Поддержать </a>
                        <select name="sum" form="donate_form" data-type="number">
                            <option value="100" selected>100₽</option>
                            <option value="300">300₽</option>
                            <option value="500">500₽</option>
                            <option value="1000">1000₽</option>
                            <option value="other">Другую сумму</option>
                        </select>
                    </form>
                </div>
            </div>
            <script>
                $('#donate_form > select').change(function(){
                  if ($(this).val() == 'other') {
                    $('#donate_form > select').remove();
                    $('#donate_form > a').before('<input type="number" name="sum" value="sum">');
                  }
                });
            </script>

            {#<div class="ad">
                <img src="http://animatika.ru/images/pf/bnrs/context-animatika.gif"/>
            </div>#}
            {#{%- if common['banners'][1] -%}
                <div class="yandex-ad">
                    <img src="http://i.imgur.com/jVYD98a.png"/>
                </div>
                {{common['banners'][1]}}
            {%- endif -%} #}
             {%- if common['banners']['right_banners'] -%}
                {{common['banners']['right_banners'].get().code}}
             {%- endif -%}


            <h2><i class="fa fa-envelope-o" aria-hidden="true"></i> Написать автору</h2>

            <div class="toauthor">
                <select id="toauthor">
                    {% for author in authors %}
                    <option value="/accounts/user/{{author.id}}/">{{author.screen_name}}</option>
                    {% endfor %}
                </select>
                <button id="ask_question"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                <span>Выберите публициста и задайте свой вопрос</span>
            </div>
            <script type="text/javascript">
                $('#ask_question').click(function(){
                    document.location.href = $('#toauthor option:selected').val();
                });
            </script>
            <h2><i class="fa fa-bullhorn" aria-hidden="true"></i> Анонс</h2>

            <div class="poster">
                <img src="http://i.imgur.com/3112SLz.png"/>
                <a href="#">зарегистрироваться на встречу</a>
            </div>
            <h2><i class="fa fa-book" aria-hidden="true"></i> Книжный магазин</h2>

            <div class="book-shop">
                {#<article class="book">
                    <img src="http://i.imgur.com/s9EVeo9.jpg"/>

                    <p>цена:<br><span>440<i class="fa fa-rub" aria-hidden="true"></i></span></p>
                    <button onclick="location.href='{{book.link}}';"><i class="fa fa-vk" aria-hidden="true"></i> купить</button>
                </article>
                <article class="book">
                    <img src="http://i.imgur.com/bd2RCEQ.jpg"/>

                    <p>цена:<br><span>440<i class="fa fa-rub" aria-hidden="true"></i></span></p>
                    <button><i class="fa fa-vk" aria-hidden="true"></i> купить</button>
                </article>#}
                {%- if common['books'] -%}
                    {%- for book in common['books'] -%}
                        <article class="book">
                            <img src="{{book.image.url}}" />
                            <p>цена:<br><span>{{book.price}}<i class="fa fa-rub" aria-hidden="true"></i></span></p>
                            <button onclick="location.href='{{book.link}}';"><i class="fa fa-vk" aria-hidden="true"></i> купить</button>
                        </article>
                    {%- endfor -%}
                {%- endif -%}
            </div>


            <h2><i class="fa fa-envelope-o" aria-hidden="true"></i> Подписаться</h2>

            <div class="subscribe">
                <input type="email">
                <button><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                <span>Лучшие ролики телеканала День на ваш e-mail</span>
            </div>

        </div>
{%- endblock app_content_rightbar -%}


{%- block app_content1 -%}
<div class="main-column">{#{% block content %}{% endblock %}#}</div>
<div class="side-column">
    {%- block sidebar -%}
    <h6>Присоединяйтесь к нам</h6>
    <ul class="block follow">
        <li><a href="http://www.facebook.com/DenTvRu" class="facebook"></a></li>
        <li><a href="http://vk.com/dentvru" class="vk"></a></li>
        <li><a href="http://twitter.com/DenTvRu" class="twitter"></a></li>
        <li><a href="http://www.youtube.com/channel/UCZNKg6NI7mah4i3dE6m0oYw" class="youtube"></a></li>
    </ul>

    {#
    <div class="hit-parad">
        <a href="/programs/view/hit-parad/"></a>
    </div>
    #}

    {%- if important_news|length > 0 -%}
    <h6 class="important-news-header">Основные события</h6>
    <ul class="block info important-news">
      {%- for item in important_news -%}
      <li><a href="{{item.get_absolute_url()}}">{{item.title}}</a></li>
      {% endfor %}
    </ul>
    {%- endif -%}


    {% if grid %}
    <div class="grid">
      <h6>РАСПИСАНИЕ ПРЯМЫХ ЭФИРОВ</h6>
      <table class="news info" style="width: 300px">
         {% for date, current, g in grid %}
         <tr class="grid-entry{% if current %}{{' '}}current{% endif %}">
           <td class="dt">{{date|ru_strftime(True, '%d %B')}}&nbsp;в&nbsp;{{g.start.strftime('%H:%M')}}</td>
           <td class="title">{{g.title}}{% if current %}&nbsp;<i>(сейчас)</i>{% endif %}</td>
         </tr>
         {% endfor %}
      </table>
    </div>
    {% endif %}


    {%- if latest_news -%}
    <noindex>
    <h6>Срочное - кратко</h6>
    <ul class="block info news">
        {%- for item in latest_news -%}
        <li>
            <h5>
                <a rel="nofollow" href="{{ item.get_absolute_url() }}">{{ item.pub_date|ru_strftime(i=True, f='%d %B %Y в %H:%M') }}</a>
            </h5>
            <p><a rel="nofollow" href="{{ item.get_absolute_url() }}">{{ item.title }}</a></p>
        </li>
        {%- endfor -%}
    </ul>
    <div class="news-other"><a href="{% url 'news.view.list' %}">другие новости&nbsp;&raquo;</a></div>
    </noindex>
    {%- endif -%}

    {%- if promo -%}
    <h6>Скоро</h6>
    <div class="promo">
        <ul>
            {%- for item in promo -%}
            <li>
                <h2>{{ item.title }}</h2>
                <img src="{{item.thumb_190.url}}" width="190" height="113">
                <p>{{ item.content }}</p>
            </li>
            {%- endfor -%}
        </ul>
    </div>
    {%- endif -%}



    {%- if poll -%}
    {{ render_poll(poll, request, csrf_token) }}
    {%- endif -%}

    {#
    <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FDenTvRu&amp;width=300&amp;height=290&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;border_color&amp;header=true&amp;appId=346827865371446" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:290px;" allowTransparency="true"></iframe>
    <!-- VK Widget -->
    <div id="vk_groups"></div>
    <script type="text/javascript">
    VK.Widgets.Group("vk_groups", {mode: 0, width: "300", height: "290"}, 38085148);
    </script>
    #}
    <div class="social">
        <div class="socialite facebook-likebox" data-id="346827865371446" data-href="http://www.facebook.com/DenTvRu" data-width="300" data-show-faces="true" data-stream="false" data-header="false"></div>
        <div class="socialite vkontakte-group" data-id="38085148"></div>
    </div>
    <div>
       <br>
		<h4>
		<span style="color: #413334;">
		<a href="/pages/item/usloviya-agitatsii/">Условия оплаты размещения предвыборных агитационных материалов<a>
		</span>
        </h4>

    </div>
    {%- endblock sidebar -%}
</div>
{%- endblock app_content1 -%}
