{% load i18n admin_static %}
<div id="{{ inline_admin_formset.formset.prefix }}-group">
  {{ inline_admin_formset.formset.management_form }}
  {{ inline_admin_formset.formset.non_form_errors }}

  {% for inline_admin_form in inline_admin_formset %}
    {% if inline_admin_form.form.non_field_errors %}
      {{ inline_admin_form.form.non_field_errors }}
    {% endif %}
    {% for fieldset in inline_admin_form %}
      {% include "admin/includes/fieldset.html" %}
    {% endfor %}
    {% if inline_admin_form.has_auto_field %}
      {{ inline_admin_form.pk_field.field }}
    {% endif %}
    {{ inline_admin_form.fk_field.field }}

    {% if inline_admin_formset.formset.can_delete and inline_admin_form.original %}
    <label class="padding10 input-control switch" for="{{ inline_admin_form.deletion_field.field.id_for_label }}">
      {{ inline_admin_form.deletion_field.field }}
      <span class="helper">{{ inline_admin_form.deletion_field.field.label }}</span>
    </label>
    {% endif %}
  {% endfor %}
</div>