{%- extends "sidebar.html" -%}

{%- from 'macros.html' import video_tile, render_comments_for, render_questions_for, render_poll -%}

{%- block page_title -%}{{super()}}{{" / "}}{{entry.program.title}}{{" / "}}{{entry.title}}{%- endblock -%}

{%- block meta_description -%}{{super()}}{{" "}}{{entry.description}}{%- endblock -%}

{%- block meta_keywords -%}{{ super() }}{% for name, group in entry.get_user_roles().items() %}{%- for participant in group -%},{{ participant.display_name }}{%- endfor -%}{%- endfor -%}{%- for tag in entry.tags -%},{{tag|escape}}{%- endfor -%}{%- endblock -%}

{%- block header_container -%}
  <div class="container">

      <div>
          <iframe width="1049" height="590" src="https://www.youtube.com/embed/{{youtube_id}}" frameborder="0"
                  allowfullscreen></iframe>
          {# {{entry.content}} #}
      </div>

  </div>
{% endblock header_container %}
{%- block app_content_leftbar -%}
        <div class="left-block">
            <h2><i class="fa fa-user-o" aria-hidden="true"></i> Ведущие</h2>

            <div class="person-block">
                {%- for entry in leftbar_entries -%}
                {# TODO:FIXME entries/views/EntryView #}
                {#<a href="{{entry.get_absolute_url()}}">{{entry.title}}</a><br><br> #}
                  <div class="person">
                    {# <img src="{{entry.user.avatar_150.url}}"/> #}
                    <img src="{%- if entry.user.avatar_source.name != '' -%}{{ entry.user.avatar_150.url }}{%- else -%}{{ STATIC_URL }}images/noavatar_150.jpg{%- endif -%}" width="150" />
                    <a href="{{entry.user.get_absolute_url()}}"> {{entry.user.display_name}} </a>
                  </div>
                {%- endfor -%}
            </div>
        </div>
{%- endblock app_content_leftbar -%}

{%- block app_content -%}
<div class="center-block">
    <h2><i class="fa fa-commenting-o" aria-hidden="true"></i> Описание</h2>
    <div class="video-about">
      <p> {{entry.description}} </p>
                <div class="share">
                    <hr/>
                    <ul>
                        <li><span class="cnt"><em>124</em></span></li>
                        <li><span class="cnt"><em>6014</em></span></li>
                        <li><span class="cnt"><em>408</em></span></li>
                        <li><span class="cnt"><em>14</em></span></li>
                    </ul>
                    <!-- <p>Уже поделились: 24</p>-->
                </div>
                <div></div>
                <div class="tags">
                    <hr/>
                    <i class="fa fa-tags" aria-hidden="true"></i>
                    <ul>
                      {%- for tag in entry.tags -%}
                        <li><a href="{% url 'tags.views.item' tag %}">{{tag}}</a></li>
                      {%- endfor -%}
                    </ul>
                </div>
</div>

    {# <h2><i class="fa fa-youtube-play" aria-hidden="true"></i> {{entry.title}}</h2>
    <p>Дата выпуска: {{entry.released_at.strftime('%d.%m.%Y')}}</p>
    <br>
    <p itemprop="description">{{entry.description}}</p>
    <br>
    <p>{{entry.content}}</p>

    <p>Просмотры: <span id="viewCounts"></span></p>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
      $.getJSON('https://www.googleapis.com/youtube/v3/videos?part=statistics&id={{youtube_id}}&key=AIzaSyDZdnf2KPPk9dmCULjvslT_9z7jpx1tarU', function(data) {
        $('#viewCounts').html(data.items[0].statistics.viewCount);
      });
    </script>

    <dl class="tags">
        <dt><i class="icon"></i>Теги:</dt>
        <dd>
            <ul>
                {%- for tag in entry.tags -%}
                <li><a itemprop="keywords" rel="tag" href="{% url 'tags.views.item' tag %}">{{tag}}</a></li>
                {%- endfor -%}
            </ul>
        </dd>
    </dl>

    <script type="text/javascript">(function() {
        if (window.pluso)if (typeof window.pluso.start == "function") return;
        if (window.ifpluso==undefined) { window.ifpluso = 1;
            var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
            s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
            s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
            var h=d[g]('body')[0];
            h.appendChild(s);
        }})();</script>
    <div class="pluso" data-background="transparent" data-options="small,square,line,horizontal,nocounter,theme=04" data-services="vkontakte,odnoklassniki,facebook,twitter,google,print"></div>
    #}
    {#
    {%- set fullpageurl = 'http://' + request.META.HTTP_HOST + request.path -%}
    <div class="socialite twitter-share" data-url="{{fullpageurl|e}}" data-count="vertical" data-via="DenTvRu" data-lang="ru" data-counturl="http://dentv.ru{{request.path|e}}" data-text="День-ТВ:{{" "}}{{entry.title|e|truncate(length=140)}}">Twitter</div>
    <div class="socialite facebook-like" data-href="{{fullpageurl|forceescape}}" data-send="false" data-layout="box_count" data-font="arial" data-show-faces="false" data-width="65">Facebook</div>
    <div class="socialite googleplus-one" data-expandTo="bottom" data-size="tall">Google Plus</div>
    <div class="socialite vkontakte-like" data-type="vertical" data-verb="1" data-height="24" data-pageTitle="{{entry.title|e}}" data-pageDescription="{{entry.description|e}}" data-pageUrl="{{fullpageurl|forceescape}}" data-pageImage="{{entry.thumb_400.url}}">VK</div>
    #}

    <br>
    <br>
    Disqus comments<br>
    <div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://clubforall.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

<script id="dsq-count-scr" src="//clubforall.disqus.com/count.js" async></script>
</div>
{%- endblock app_content -%}



{%- block app_content_rightbar -%}
  <div class="right-block">
    <h2><i class="fa fa-handshake-o" aria-hidden="true"></i> Поддержать канал</h2>

    <div class="donate">
      <div class="support">
        <a href="#" target="_blank">
          Отправить
        </a>
        <select>
          <option value="100" selected>100₽</option>
          <option value="300">300₽</option>
          <option value="500">500₽</option>
          <option value="1000">1000₽</option>
        </select>
      </div>
    </div>

    <h2>Также по теме:</h2>
    {%- for rentry in rightbar_entries -%}
      <article class="teaser">
        <iframe width="240" height="135" src="https://www.youtube.com/embed/{{rentry.video_id()}}" frameborder="0"
              allowfullscreen></iframe>
        <div class="details">
          <h4><a href="{{rentry.get_absolute_url()}}">{{rentry.title}}</a></h4>
        </div>
      </article>
    {%- endfor -%}
  </div>
{%- endblock app_content_rightbar -%}
