{%- extends "sidebar.html" -%}

{%- from "macros.html" import video_tile, pagination -%}

{%- block app_content_header -%}{%- endblock -%}

{%- block content  -%}
<h6>Все материалы по запросу &laquo;{{ query }}&raquo;</h6>
<ul class="page-content video-tiles">
    {%- for entry in entries -%}
    {{ video_tile(size="small", entry=entry, last = loop.index % 3 == 1, no_program=False) }}
    {%- endfor -%}
</ul>
{%- endblock -%}

{%- block app_content_footer -%}
{%- if is_paginated -%}{{ pagination(page_obj, request) }}{%- endif -%}
{%- endblock -%}