{%- extends "sidebar.html" -%}

{%- from "macros.html" import video_tile, pagination -%}

{% block body_attrs %}class="{{project}}-project"{% endblock %}

{%- block app_content_header -%}
<div class="promo">
  <a href="{{promo.get_absolute_url()}}" class="thumbnail">
    <img src="{{promo.thumb_640.url}}" width="640" height="480">
  </a>
  <h2><a href="{{promo.get_absolute_url()}}">{{promo.title}}</a></h2>
  <p>{{promo.description}}</p>
</div>
{%- endblock -%}

{%- block content  -%}
OLOLO
{%- endblock -%}

{%- block app_content_footer -%}
{%- if is_paginated -%}{{ pagination(page_obj, request) }}{%- endif -%}
{%- endblock -%}