{% extends "sidebar.html" %}

{% from "macros.html" import video_tile, pagination %}

{% block page_title %}{{super()}}{{" / "}}Поиск{% endblock %}

{%- block app_base-%}
	<section class="ontheair">
		<div class="container">
				<a href="/">
						<div class="logo-small"></div>
				</a>
				<div class="big-search">
						<form action="/search/" method="get"><input id="livesearch" type="text" placeholder="{{tag}}" value=""
																																						name="query"></form>
				<button>поиск</button>
				</div>

		</div>
	</section>

	<section class="main accounts">
    <div class="container">
        <div class="left-block">

        </div>
        <div class="center-block">
            <h2>Результаты по запросу: "{{tag}}"</h2>
                    <div class="posts">
                <ul>
									{%- for entry in items -%}
                    <li>
											{{video_tile_teaser(entry=entry)}}
                    </li>
									{%- endfor -%}
                </ul>
            </div>
        </div>
        <div class="right-block">

        </div>
    </div>
	</section>
{%- endblock -%}
