{% extends "app_base.html" %}

{% block app_content_header %}{% endblock %}

{% block app_content %}
<div>
    <!--<img src="${ STATIC_URL }img/dtvsublogo.png" />-->
    <i class="logo"></i>
    <h1>Что-то пошло не так.<br/>Ошиблись адресом?</h1>
    <p>Такой страницы не существует.</p>
</div>
{% endblock %}