{%- if not request.is_ajax() -%}{%- extends "base.html" -%}{%- endif -%}

{%- block app_base -%}
<div class="app_base">
    {%- block app_content_header -%}
    <div class="app_base_header">
        <a href="/" class="sublogo">День-ТВ. Аналитический онлайн-телеканал</a>
        {%- block page_header_content -%}{%- endblock -%}
    </div>
    {%- endblock -%}
    {%- block app_content -%}{%- endblock -%}
    {%- block app_content_footer -%}{%- endblock -%}
</div>
{%- endblock -%}