{%- from "macros.html" import login_modal, google_analytics, ya_metrika, li_ru -%}<!DOCTYPE html>
<!--[if lt IE 7]><html xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--><html xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#" class="no-js"> <!--<![endif]-->
    <head>
        <meta name='yandex-verification' content='606fbd9e56cf4424' />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="{%- block meta_description -%}Аналитический телеканал День-ТВ, официальный сайт. Архив видеоматериалов.{%- endblock -%}">
        <meta name="keywords" content="{%- block meta_keywords -%}День-ТВ{%- endblock -%}">
        <link rel="stylesheet" href="{{STATIC_URL}}stylesheets/main.css?hash={{common['commit_hash']}}">
        <title>{%- block page_title -%}День-ТВ. Интервью, репортажи, политическая аналитика.{%- endblock -%}</title>
        <link rel="SHORTCUT ICON" href="/favicon.ico">
        <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        {{google_analytics("UA-32347386-1")}}
        {#<script type="text/javascript" src="//vk.com/js/api/openapi.js?72"></script>#}
        {#<script type="text/javascript">VK.init({apiId:2976846,onlyWidgets:true});</script>#}
        {%- block page_head_add -%}{%- endblock -%}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                
             ga('create', 'UA-73642333-1', 'auto');
            ga('send', 'pageview');
                    
        </script>
    </head>
    <body {% block body_attrs %}{% endblock %} itemscope itemtype="http://schema.org/WebPage">
        <div class="header">
            <div class="nav">
                <ul>
                    <li><a href="/" class="logo">День-ТВ</a></li>
                    <li>
                        <a title="Программы" class="bare">Программы</a>
                        <ul>{%- for program in common['top_programs'] -%}
                            <li><a href="{{ program.get_absolute_url() }}">{{ program.title }}</a></li>
                            {%- endfor -%}
                        </ul>
                    </li>
                    <li>
                        <a title="Публицисты" class="bare">Публицисты</a>
                        <ul>{%- for blogger in common['top_bloggers'] -%}
                            <li><a href="{{ blogger.get_absolute_url() }}">{{ blogger.display_name }}</a></li>
                            {%- endfor -%}
                        </ul>
                    </li>
                    {#<li><a href="/topics/list/">Темы</a></li>#}
                    <li><a href="/pages/item/about-us/">О телеканале</a></li>
                    <li class="search"><form action="/search/" method="get"><input id="livesearch" type="text" placeholder="поиск" value="" name="query"></form></li>
                </ul>
            </div>
            <div class="aside">
                <time datetime="{{common['now'].strftime("%Y-%m-%dT%H:%M:%S")}}">{{common['now']|ru_strftime(True, '%A, %d %B')|title}}</time>
                <div>
                {%- block login_links -%}
                    {%- if user and user.is_authenticated() -%}
                    <a href="{% url 'accounts.view.self' %}">{{user.screen_name}}</a>
                    <a href="{% url 'accounts.view.logout' %}">Выйти</a>
                    {%- else -%}
                    <a href="{% url 'accounts.register' %}">Зарегистрироваться</a>
                    <a id="login-link" href="{% url 'accounts.view.login' %}">Войти</a>
                    <a class="buttons-fb-login-button" href="/social/login/facebook/"></a>
                    {%- endif -%}
                {%- endblock -%}
                </div>
            </div>
        </div>
        <div class="bodycopy">{%- block app_base -%}{%- endblock -%}</div>
        <div class="footer">
            <div class="additional-info">
                <a href="/" class="logo"></a>
                <ul>
                    <li>Связаться с нами: <a href="mailto:info@dentv.ru">info@dentv.ru</a></li>
                    <li>&copy; {{ common['now'].year }}. Все права защищены.</li>
                    <li>Любое использование материалов<br/>допускается только с согласия редакции.</li>
                    {#
                    <li>Мнение авторов, экспертов и гостей может<br/>не совпадать с мнением редакции.</li>
                    #}
                    <li class="mature"><i class="icon"></i>Материалы данного сайта содержат информацию, не предназначенную для несовершеннолетних</li>
                    {#<li>{{li_ru()}}</li>#}
                    <li>Свидетельство о регистрации средства массовой информации Эл No ФС77-59858<br>от 17 ноября 2014 выдано Федеральной службой по надзору в сфере связи,<br>информационных технологий и массовых коммуникаций (Роскомнадзор).
                    </li>
                </ul>
<!--LiveInternet counter--><script type="text/javascript"><!--
document.write("<a href='//www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t24.6;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' title='LiveInternet: показано число посетителей за"+
" сегодня' "+
"border='0' width='88' height='15'><\/a>")
//--></script><!--/LiveInternet-->
		<a href="http://orphus.ru" id="orphus" target="_blank"><img alt="Система Orphus" src="http://static.dentv.ru/images/orphus.gif" border="0" width="125" height="115" /></a>
            </div>
        </div>
        {{login_modal(request, csrf_token)}}
        {{ya_metrika("14925958")}}
        <script src="{{STATIC_URL}}js/vendor.js?hash={{common['commit_hash']}}"></script>
        <script src="{{STATIC_URL}}js/app.js?hash={{common['commit_hash']}}"></script>
        <script>require('initialize');</script>
        {% block page_foot_add %}{% endblock %}
    </body>
</html>
