{%- extends "sidebar.html" -%}

{%- from 'macros.html' import video_tile, pagination -%}

{%- block page_header_content -%}
<h6><a href="{% url 'accounts.view.list' %}">Наши публицисты</a></h6>
<div class="top-bloggers-wrapper">
  <ul class="top-bloggers">
    {%- for entry in top_entries -%}
    <li class="top-blogger">
      <a href="{{entry.program.owner.get_absolute_url()}}"><img{{" "}}{%- if loop.index <= 4 -%}src{%- else -%}src{%- endif -%}="{{entry.program.owner.avatar_150.url}}" alt="{{ entry.program.owner.display_name }}" width="150" height="88" /></a>
      <h5><a href="{{entry.program.owner.get_absolute_url()}}">{{entry.program.owner.display_name}}</a></h5>
      <h6><em>{{entry.released_at|ru_strftime(True)}}</em>:&nbsp;<a href="{{entry.get_absolute_url()}}">{{hyphenator.hyphen(entry.title)}}</a></h6>
    </li>
    {%- endfor -%}
  </ul>
</div>
{%- endblock -%}

{%- block app_content_header -%}
  {{super()}}
  {% if live %}
  <dl class="tabs">
    <dt class="active" style="text-align:center">В эфире</dt>
    <dd class="live">
      <table style="width:100%">
       <tr>
         <td style="width:640px">{{live.yt()}}</td>
         {% if live.debatees.count() > 0 %}
         <td style="vertical-align:top">
           <h4 style="text-align:center">Дебаты</h4>
           <ul>
             {% for debatee in live.debatees.all() %}
             <li>{{debatee.name}}</li>
             {% endfor %}
           </ul>
         </td>
         {% endif %}
       </tr>
      </table>
    </dd>
    <dt style="text-align:center;left:165px">Выпуски</dt>
    <dd class="plain">
  {% endif %}
  <div class="top-videos">
    <div class="slider">
      <ul class="videos">
      {%- for entry in main -%}
        <li class="video">
          <div class="thumbnail">
            <a href="{{entry.get_absolute_url()}}">
              <img src="{{entry.thumb_640.url}}" width="640" height="360">
              <i class="triangle"></i>
            </a>
          </div>
          <div class="text">
            <h2><a href="{{entry.get_absolute_url()}}">{{entry.title}}</a></h2>
            <p>{{entry.description}}</p>
          </div>
        </li>
      {%- endfor -%}
      </ul>
    </div>
  </div>
  {% if live %}
  </dd>
</dl>
  {% endif %}
{%- endblock -%}

{% block content %}
<div>
  <h6>Основное</h6>
  <ul class="video-tiles page-content">
  {% for entry in entries %}
    {{video_tile(size='big' if loop.index == 4 else 'small', entry=entry, last=loop.index in [4,6,9,12,15,18,21])}}
  {% endfor %}
  </ul>
  {% if is_paginated %}{{pagination(page_obj, request)}}{% endif %}
</div>
{% endblock %}
