{% extends "sidebar.html" %}

{% from "macros.html" import video_tile, pagination %}

{% block page_title %}{{super()}}{{" / "}}Поиск{% endblock %}

{%- block app_content_header -%}
<form class="searchform" method="get" action="/search/">
	<label>Вы искали</label>
	<input type="text" value="{{query|e}}" name="query">
</form>
{%- endblock -%}

{%- block content -%}
<h4>Результаты поиска (всего&nbsp;{{paginator.count|get_plural("документ,документа,документов")}})</h4>
<ul class="page-content video-tiles">
{%- for entry in entries -%}
{{ video_tile(size="small", entry=entry, last=loop.index % 3 == 1, no_program=False) }}
{%- else -%}
<li><strong>К сожалению, ничего не найдено.</strong></li>
{%- endfor -%}
</ul>
{%- endblock -%}

{%- block app_content_footer -%}
{%- if is_paginated -%}{{pagination(page_obj, request)}}{%- endif -%}
{%- endblock -%}