{% extends "app_base.html" %}

{%- from 'macros.html' import render_poll -%}

{%- block app_content -%}
<div class="main-column">{% block content %}{% endblock %}</div>
<div class="side-column">
    {%- block sidebar -%}
    <h6>Присоединяйтесь к нам</h6>
    <ul class="block follow">
        <li><a href="http://www.facebook.com/DenTvRu" class="facebook"></a></li>
        <li><a href="http://vk.com/dentvru" class="vk"></a></li>
        <li><a href="http://twitter.com/DenTvRu" class="twitter"></a></li>
        <li><a href="http://www.youtube.com/channel/UCZNKg6NI7mah4i3dE6m0oYw" class="youtube"></a></li>
    </ul>

    {#
    <div class="hit-parad">
        <a href="/programs/view/hit-parad/"></a>
    </div>
    #}

    {%- if important_news|length > 0 -%}
    <h6 class="important-news-header">Основные события</h6>
    <ul class="block info important-news">
      {%- for item in important_news -%}
      <li><a href="{{item.get_absolute_url()}}">{{item.title}}</a></li>
      {% endfor %}
    </ul>
    {%- endif -%}


    {% if grid %}
    <div class="grid">
      <h6>РАСПИСАНИЕ ПРЯМЫХ ЭФИРОВ</h6>
      <table class="news info" style="width: 300px">
         {% for date, current, g in grid %}
         <tr class="grid-entry{% if current %}{{' '}}current{% endif %}">
           <td class="dt">{{date|ru_strftime(True, '%d %B')}}&nbsp;в&nbsp;{{g.start.strftime('%H:%M')}}</td>
           <td class="title">{{g.title}}{% if current %}&nbsp;<i>(сейчас)</i>{% endif %}</td>
         </tr>
         {% endfor %}
      </table>
    </div>
    {% endif %}


    {%- if latest_news -%}
    <noindex>
    <h6>Срочное - кратко</h6>
    <ul class="block info news">
        {%- for item in latest_news -%}
        <li>
            <h5>
                <a rel="nofollow" href="{{ item.get_absolute_url() }}">{{ item.pub_date|ru_strftime(i=True, f='%d %B %Y в %H:%M') }}</a>
            </h5>
            <p><a rel="nofollow" href="{{ item.get_absolute_url() }}">{{ item.title }}</a></p>
        </li>
        {%- endfor -%}
    </ul>
    <div class="news-other"><a href="{% url 'news.view.list' %}">другие новости&nbsp;&raquo;</a></div>
    </noindex>
    {%- endif -%}

    {%- if promo -%}
    <h6>Скоро</h6>
    <div class="promo">
        <ul>
            {%- for item in promo -%}
            <li>
                <h2>{{ item.title }}</h2>
                <img src="{{item.thumb_190.url}}" width="190" height="113">
                <p>{{ item.content }}</p>
            </li>
            {%- endfor -%}
        </ul>
    </div>
    {%- endif -%}



    {%- if poll -%}
    {{ render_poll(poll, request, csrf_token) }}
    {%- endif -%}

    {#
    <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FDenTvRu&amp;width=300&amp;height=290&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;border_color&amp;header=true&amp;appId=346827865371446" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:290px;" allowTransparency="true"></iframe>
    <!-- VK Widget -->
    <div id="vk_groups"></div>
    <script type="text/javascript">
    VK.Widgets.Group("vk_groups", {mode: 0, width: "300", height: "290"}, 38085148);
    </script>
    #}
    <div class="social">
        <div class="socialite facebook-likebox" data-id="346827865371446" data-href="http://www.facebook.com/DenTvRu" data-width="300" data-show-faces="true" data-stream="false" data-header="false"></div>
        <div class="socialite vkontakte-group" data-id="38085148"></div>
    </div>
    <div>
       <br>
		<h4>
		<span style="color: #413334;">
		<a href="/pages/item/usloviya-agitatsii/">Условия оплаты размещения предвыборных агитационных материалов<a>
		</span>
        </h4>   
		
    </div>
    {%- endblock sidebar -%}
</div>
{%- endblock app_content -%}
