{%- extends "sidebar.html" -%}

{%- from "macros.html" import pagination -%}

{%- block app_content_leftbar -%}
{%- endblock -%}

{%- block app_content -%}
<div class="center-block">
    <table border="1" width="100%" cellpadding="0" cellspacing="0">
            {%- for qa in object_list %}
                <tr>
                    <td>ФИО: <b>{{qa.fio}}</b><br>Вопрос: {{qa.question_text}}</td>
                </tr>
                {%- if qa.answer_text -%}
                <tr>
                    <td align="right">{{qa.siteuser.get_full_name()}}: {{qa.answer_text}}</td>
                </tr>
                {%- endif -%}
            {%- endfor -%}
            </table>
</div>
{%- endblock app_content -%}

{%- block app_content_rightbar -%}
{%- endblock app_content_rightbar -%}