{%- extends "sidebar.html" -%}

{%- from "macros.html" import pagination -%}

{%- block app_content_header -%}<div class="page-head"></div>{%- endblock -%}

{%- block content -%}
<h6>Публицисты</h6>
<ul class="page-content video-tiles">
  {%- for p in profiles -%}
  <li class="video-tile-small{% if loop.index0 % 3 == 0 %}{{" "}}clear{% endif %}">
    <h6><a href="{{p.get_absolute_url()}}" title="{{p.display_name|e}}">{{p.display_name}}</a></h6>
    <div class="figure figure-small">
      <a title="{{p.display_name|e}}" href="{{p.get_absolute_url()}}"><img src="{% if p.avatar_source != "" %}{{p.avatar_150.url}}{% else %}{{STATIC_URL}}images/noavatar_150.jpg{% endif %}" alt="{{p.display_name|e}}"></a>
    </div>
  {%- endfor -%}
  </li>
</ul>
{%- endblock -%}

{%- block app_content_footer -%}
{%- if is_paginated -%}{{ pagination(page_obj, request) }}{%- endif -%}
{%- endblock -%}