{%- extends "app_base.html" -%}

{%- block login_links -%}{%- endblock -%}

{%- block app_content_header -%}<div class="page-head"></div>{%- endblock -%}

{%- block app_content -%}
<h1>Вход на сайт</h1>
<form action="{% url 'accounts.view.login' %}" method="post" class="bare">
    {%- if error -%}
    <h4 class="error">{{ error }}</h4>
    {%- endif -%}
    <ul class="rowform">
        <li>
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            {%- if next -%}
            <input type="hidden" name="next" value="{{ next }}">
            {%- endif -%}
            <label for="login-login">Имя пользователя (адрес электронной почты)</label>
            {%- if username -%}
            <input id="login-login" type="text" name="login" value="{{ username }}">
            {%- else -%}
            <input id="login-login" type="text" name="login">
            {%- endif -%}
        </li>
        <li>
            <label for="login-password">Пароль</label>
            <input id="login-password" type="password" name="password"/>
        </li>
        <li>
            <button type="submit">Войти</button>
        </li>
    </ul>
    <hr>
    <p>Забыли пароль? Воспользуйтесь&nbsp;<a href="{% url 'accounts.view.recover' %}" class="link_to_reg">механизмом сброса пароля</a>,&nbsp;чтобы восстановить доступ к аккаунту.</p>
    <hr>
    <p>Вы также можете воспользоваться своим профилем в одной из социальных сетей, чтобы войти.</p>
    <ul class="follow">
        <li><a href="/social/login/facebook/" class="bare facebook"></a></li>
        <li><a href="/social/login/vkontakte-oauth2/" class="bare vk"></a></li>
        <li><a href="/social/login/twitter" class="bare twitter"></a></li>
    </ul>
</form>
{%- endblock -%}
