{%- extends "app_base.html" -%}

{%- from "macros.html" import video_tile, pagination -%}

{%- block body_attrs -%} class="systemblock"{%- endblock -%}

{%- block app_content_header -%}{%- endblock -%}

{%- block app_content -%}
<div class="profile">
  <div class="third">
    <h4>Основная информация</h4>
    <img src="{%- if profile.avatar_source.name != '' -%}{{ profile.avatar_150.url }}{%- else -%}{{ STATIC_URL }}images/noavatar_150.jpg{%- endif -%}" width="150" />
    <table>
      <tr>
        <td class="key">Имя</td>
	<td class="value">{{ profile.screen_name }}</td>
      </tr>
    </table>
    <h4>Дополнительная информация</h4>
    <table>
      {%- if profile.occupation -%}
      <tr>
        <td class="key">Место работы</td>
	<td class="value">{{ profile.occupation }}</td>
      </tr>
      {%- endif -%}
      <tr>
        <td class="key">О себе</td>
	<td class="value">{%- if profile.about -%}{{ profile.about }}{%- else -%}<em>пусто</em>{%- endif -%}</td>
      </tr>
    </table>
  </div>
  {%- if profile.has_blog -%}
  <div class="two-thirds">
    <h4>Выпуски</h4>
    <ul class="video-tiles">{%- for entry in entries.object_list -%}{{ video_tile(entry=entry, size='small') }}{%- endfor -%}</ul>
    {%- if entries.has_other_pages() -%}{{ pagination(entries, request) }}{%- endif -%}
  </div>
  {%- else -%}
  <div class="third">
    <h4>Статистика пользователя</h4>
    <table>
      <tr>
        <td class="key">Зарегистрирован{% if profile.gender == 2 %}а{% endif %}</td>
	<td class="value">{{ profile.created|ru_strftime(True,'%d %B %Y') }}</td>
      </tr>
      <tr>
        <td class="key">Ваш статус</td>
	<td class="value">{%- if profile.has_blog -%}колумнист{%- else -%}пользователь{%- endif -%}</td>
      </tr>
    </table>
    <h4>Статистика блога</h4>
    <table>
      <tr>
        <td class="key">Статус публициста</td>
	<td class="value">{%- if profile.has_blog -%}активен{%- else -%}неактивен{%- endif -%}</td>
      </tr>
      {%- if profile.has_blog -%}
      <tr>
        <td class="key">Адрес блога</td>
	<td class="value"><a href="{{ blog.get_absolute_url() }}">{{ blog.title }}</a></td>
      </tr>
      <tr>
        <td class="key">Количество выпусков</td>
	<td class="value">{{ blog.entries.count() }}</td>
      </tr>
      {%- endif -%}
    </table>
  </div>
  {%- endif -%}
</div>
{%- endblock -%}
