{%- extends "app_base.html" %}

{% block body_attrs %}class="account"{% endblock %}

{% block app_content_header %}{% endblock %}

{% block login_links %}{% endblock %}

{% macro form_field(field) %}
<div{% if field.errors %} class="error"{% endif %}>
    {{ field.label_tag() }}
    {{ field }}
    <span>{% if field.errors %}{{ field.errors }}{% endif %}</span>
</div>
{% endmacro %}

{% block app_content %}

<div class="register_content">
    <h2>Восстановление пароля</h2>
    <p>Новый пароль выслан вам на указанный e-mail. Используйте его, чтобы <a href="{% url 'accounts.view.login' %}">войти</a>.</p>
</div>

{% endblock %}