{% extends "app_base.html" %}

{% block body_attrs %}class="account"{% endblock %}

{% block app_content_header %}{% endblock %}

{% block login_links %}{% endblock %}

{% macro form_field(field) %}
<div{% if field.errors %} class="error"{% endif %}>
    {{ field.label_tag() }}
    {{ field }}
    <span>{% if field.errors %}{{ field.errors }}{% endif %}</span>
</div>
{% endmacro %}

{% block app_content %}

<div class="register_content">
    <h2>Восстановление пароля</h2>
    <p>Пожалуйста, введите e-mail, указанный вами при регистрации.</p>

    <div class="register_form">
        <form action="" method="post" id="reg-form">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
            {% for field in form %}
                {{ form_field(field) }}
            {% endfor %}
            <hr/>
            <input type="submit" value="Восстановить" />
        </form>
    </div>
</div>

{% endblock %}