{% extends "app_base.html" %}

{% block body_attrs %}class="account"{% endblock %}

{% block app_content_header %}{% endblock %}

{% block login_links %}{% endblock %}

{% block app_content %}

<div class="register_complete">
	<h2>Регистрация завершена!</h2>
	<p>Теперь вы можете войти в систему, используя предоставленные данные и ваш e-mail в качестве логина.</p>
</div>

{% endblock %}