{% extends "sidebar.html" %}

{% from "macros.html" import video_tile, pagination %}

{% block page_title %}{{super()}}{{" / "}}Программы{% endblock %}

{%- block app_base-%}
<section class="ontheair">
  <div class="container">
      <a href="/">
          <div class="logo-small"></div>
      </a>
      <div class="big-search">
          <form action="/search/" method="get"><input id="livesearch" type="text" placeholder="поиск" value=""
                                                                          name="query"></form>
      <button>поиск</button>
      </div>

  </div>
</section>
	</section>

	<section class="main accounts">
    <div class="container">
        <div class="left-block">

        </div>
        <div class="center-block">
            <h2>Программы</h2>
                    <div class="posts">
                <ul>
									{%- for program in programs -%}
                    <li>
                      <article class="teaser">
                            <a href="{{program.get_absolute_url()}}">
                                <img src="{{ MEDIA_URL }}{{ program.logo }}"/>

                                <div class="details">
                                    <h4>{{program.title}}</h4>

                                    <p>{{program.owner.display_name}}</p>

                                    <p>{{program.subscribers_count}}</p>
                                </div>
                            </a>
                        </article>
                    </li>
									{%- endfor -%}
                </ul>
            </div>
        </div>
        <div class="right-block">

        </div>
    </div>
	</section>
{%- endblock -%}

{#
{%- block content -%}
<h6>Программы</h6>
<div class="page-content video-tiles">
    {%- for program in programs -%}
    <p><a href="{{ program.get_absolute_url() }}">{{ program.title }}</a></p>
    <p>
        <a href="{{ program.get_absolute_url() }}">
            <img src="{{ MEDIA_URL }}{{ program.logo }}" width="750" height="88" />
        </a>
    </p>
    {%- endfor -%}
</div>
{%- endblock -%}

{%- block app_content_footer -%}
{%- if is_paginated -%}{{ pagination(page_obj, request) }}{%- endif -%}
{%- endblock -%}
#}
