{%- extends "sidebar.html" -%}

{%- from 'macros.html' import video_tile, render_comments_for, render_questions_for, render_poll -%}

{%- block page_title -%}{{super()}}{{" / "}}{{entry.program.title}}{{" / "}}{{entry.title}}{%- endblock -%}

{%- block meta_description -%}{{super()}}{{" "}}{{entry.description}}{%- endblock -%}

{%- block meta_keywords -%}{{ super() }}{% for name, group in entry.get_user_roles().items() %}{%- for participant in group -%},{{ participant.display_name }}{%- endfor -%}{%- endfor -%}{%- for tag in entry.tags -%},{{tag|escape}}{%- endfor -%}{%- endblock -%}

{%- block page_head_add -%}
<meta property="fb:app_id" content="346827865371446">
<meta property="og:locale" content="ru_RU" />
<meta property="og:type" content="video">
{# HACK #}
{%- for part in entry.parts -%}
{%- if part.__class__.__name__ == 'YoutubeVideo' -%}
<meta property="og:video" content="{{part.content}}">
{#<meta property="og:video:type" content="video.episode">#}
<meta property="og:video:type" content="application/x-shockwave-flash">
<meta property="twitter:player" content="https://youtube.com/embed/{{part.get_video_id()}}">
{%- endif -%}
{%- endfor -%}
{# /HACK #}
<meta property="og:image" content="{{entry.thumb_400.url}}">
<meta property="og:title" content="{{entry.title|e}}">
<meta property="og:description" content="{{entry.description|e}}">
<meta property="video:release_date" content="{{entry.released_at}}">
{%- for tag in entry.tags -%}
<meta property="video:tag" content="{{tag|e}}">
{%- endfor -%}
<meta property="twitter:card" content="player">
<meta property="twitter:site" content="@DenTvRu">
<meta property="twitter:title" content="{{entry.title|e}}">
<meta property="twitter:url" content="http://dentv.ru{{request.path|e}}">
<meta property="twitter:image" content="{{entry.thumb_190.url}}">
<meta property="twitter:description" content="{{entry.description|e}}">
<meta property="twitter:player:width" content="640">
<meta property="twitter:player:height" content="360">
{%- endblock -%}

{% block page_foot_add %}
<script>
var disqus_shortname='dentv',disqus_title="{{entry.title|e}}";(function(){var d=document.createElement('script');d.type='text/javascript';d.async=true;d.src='//'+disqus_shortname+'.disqus.com/embed.js';(document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(d);})();</script>
<a href="http://disqus.com" class="dsq-brlink">Комментарии работают через систему <span class="logo-disqus">Disqus</span></a>
</script>
{% endblock %}

{%- block page_header_content -%}
<h6>О программе</h6>
<div class="standard-block">
    {%- if entry.program.logo != '' -%}
    <img src="{{MEDIA_URL}}{{entry.program.logo}}" width="750" height="88" />
    {%- else -%}
    <div class="program-logo-placeholder"></div>
    {%- endif -%}
    <h5 itemprop="name">{{entry.program.title}}</h5>
</div>
{%- endblock -%}

{%- block page_header_second_row_content -%}
<h5>{{entry.program.title}}</h5>
<p>{{entry.program.description}}</p>
{%- endblock -%}

{%- block content -%}
<div itemscope itemtype="http://schema.org/VideoObject" class="page-content">
       <meta itemprop="thumbnail" content="{{entry.thumb_640.url}}">
        <ul class="entryparts">
	    <li class="info">
	        <h2 itemprop="name">{{entry.title}}</h2>
	        <p itemprop="description">{{entry.description}}</p>
	    </li>
            <li class="content">{{entry.content}}</li>
        <li class="info">
            {#<span class="comments-count"><i class="icon"></i>{{entry.comments_count}}</span>#}
            <time itemprop="uploadDate" class="pubdate" datetime="{{entry.released_at.strftime("%Y-%m-%dT%H:%M:%S")}}">{{entry.released_at|ru_strftime(True, '%d %B %Y, %H:%M')}}</time>
        </li>
        <li class="info">
            <dl class="rating">
                <dt><i class="icon"></i>Рейтинг</dt>
                <dd>
                    <span>{{entry.get_rating()}}</span>
                    {%- if request.user and request.user.is_authenticated() -%}
                    <a rel="nofollow" href="/voting/vote/{{entry.get_content_type().id}}/{{entry.id}}/up/" class="voting vote-up">+</a>
                    <a rel="nofollow" href="/voting/vote/{{entry.get_content_type().id}}/{{entry.id}}/down/" class="voting vote-down">&ndash;</a>
                    {%- endif -%}
                </dd>
            </dl>
            <dl class="tags">
                <dt><i class="icon"></i>Теги:</dt>
                <dd>
                    <ul>
                        {%- for tag in entry.tags -%}
                        <li><a itemprop="keywords" rel="tag" href="{% url 'tags.views.item' tag %}">{{tag}}</a></li>
                        {%- endfor -%}
                    </ul>
                </dd>
            </dl>
        </li>
        <li class="social">
            {%- set fullpageurl = 'http://' + request.META.HTTP_HOST + request.path -%}
            <div class="socialite twitter-share" data-url="{{fullpageurl|e}}" data-count="vertical" data-via="DenTvRu" data-lang="ru" data-counturl="http://dentv.ru{{request.path|e}}" data-text="День-ТВ:{{" "}}{{entry.title|e|truncate(length=140)}}"></div>
            <div class="socialite facebook-like" data-href="{{fullpageurl|forceescape}}" data-send="false" data-layout="box_count" data-font="arial" data-show-faces="false" data-width="65"></div>
            <div class="socialite googleplus-one" data-expandTo="bottom" data-size="tall"></div>
            <div class="socialite vkontakte-like" data-type="vertical" data-verb="1" data-height="24" data-pageTitle="{{entry.title|e}}" data-pageDescription="{{entry.description|e}}" data-pageUrl="{{fullpageurl|forceescape}}" data-pageImage="{{entry.thumb_400.url}}"></div>
        </li>
    </ul>
</div>

{%- set others = entry.others[0:3] -%}
{%- if others|length > 0 -%}
<div class="other-videos">
    <h6><a href="{{entry.program.get_entries_url()}}">Другие выпуски программы</a></h6>
    <div class="page-content video-tiles">
        <ul>{%- for entry in others -%}{{video_tile(size="small", entry=entry, last=False, no_program=True)}}{%- endfor -%}</ul>
    </div>
</div>
{%- endif -%}
<a name="comments"></a>
<div id="disqus_thread"></div>
{#
<dl class="tabs">
    <dt>Комментарии</dt>
    <dd>{{render_comments_for(entry, request.user, messages, csrf_token)}}</dd>
    <dt>{% if entry.program.owner_id == 1 %}Вопросы участникам{% else %}Вопросы автору{% endif %}</dt>
    <dd>{{render_questions_for(entry, request.user, messages, csrf_token)}}</dd>
</dl>
#}
{%- endblock -%}

{%- block sidebar -%}
<h6>Также по теме</h6>
<div class="block info">
    {%- for related in entry.get_related() -%}
    <div class="text-over-image">
        <div class="image"><a href="{{related.get_absolute_url()}}"><img width="300" height="176" alt="{{related.title|e}}" src="{{related.thumb_300.url}}" title="{{related.title|e}}"></a></div>
        <div class="text"><a href="{{related.get_absolute_url()}}">{{related.title}}</a></div>
    </div>
    {%- endfor -%}
</div>
<h6>Статистика программы</h6>
<div class="block info">
    <dl>
        <dt>Создана:</dt><dd>{{ entry.program.created_at|ru_strftime(True, '%d %B %Y') }}</dd>
        <dt>Всего выпусков:</dt><dd>{{ entry.program.entries_count }}</dd>
        <dt>Последний выпуск:</dt><dd>{{ entry.program.latest_entry.released_at|ru_strftime(True,'%d %B %Y') }}</dd>
        <dt>Подписчиков:</dt><dd>{{ entry.program.subscribers_count }}</dd>
        <dt>Всего комментариев:</dt><dd>{{ entry.program.comments_count }}</dd>
    </dl>
</div>
{#
<h6>Программа в интернете</h6>
<div class="block info">
    <dl class="links">
        {%- for link in entry.program.links.all() -%}
        <dt class="{{link.get_kind_display()}}"></dt><dd><a href="http://{{link.url}}">{{link.title}}</a></dd>
        {%- endfor -%}
    </dl>
</div>
#}

<dl class="participants">
    {%- for name, group in entry.get_user_roles().items() -%}
    {%- set row_cycler = cycler('odd', 'even') -%}
    <dt><h6>{{ name }}</h6></dt>
    <dd>
        <ul>
            {%- for participant in group -%}
            <li class="{{ row_cycler.next() }}">
                <a class="avatar" href="{{ participant.get_absolute_url() }}">
                    {%- if participant.avatar_source == '' -%}
                    <img src="{{ STATIC_URL }}images/noavatar_150.jpg" width="150" height="88" />
                    {%- else -%}
                    <img src="{{ participant.avatar_150.url }}" />
                    {%- endif -%}
                </a>
                <h6><a href="{{ participant.get_absolute_url() }}">{{ participant.display_name }}</a></h6>
                <p>{{ participant.about }}</p>
            </li>
            {%- endfor -%}
        </ul>
    </dd>
    {%- endfor -%}
</dl>
{%- endblock -%}
