<h4>Также интересно:<sup><a title="закрыть">X</a></sup></h4>
<ul>
  {% for promo in object_list %}
  <li>
    <a href="{{promo.entry.get_absolute_url()}}"><img src="{{promo.entry.thumb_190.url}}" alt="{{promo.entry.title|e}}"></a>
    <div><a href="{{promo.entry.get_absolute_url()}}">{{promo.text}}</a></div>
  </li>
  {% endfor %}
</ul>