{% extends "sidebar.html" %}

{% from "macros.html" import video_tile, pagination %}

{% block app_content_header %}<div class="page-head"></div>{% endblock %}

{% block content  %}
<h4>Все материалы по теме&nbsp;&laquo;{{ topic.title }}&raquo;</h4>
<div class="page-content video-tiles">
    {% for entry in items %}
    {{ video_tile(size="small", entry=entry, last = loop.index % 3 == 1, no_program=False) }}
    {% endfor %}
</div>

{% endblock %}

{% block app_content_footer %}
{% if is_paginated %}{{ pagination(page_obj, request) }}{% endif %}
{% endblock %}