{%- extends "sidebar.html" -%}

{%- from "macros.html" import video_tile, pagination, video_tile_topic -%}

{%- block app_content_header -%}<div class="page-head"></div>{%- endblock -%}

{%- block content -%}
<h4>Последние материалы по темам</h4>
<ul class="page-content video-tiles">
    {%- for topic in items -%}
    {{video_tile_topic(size="small", entry=topic.latest_entry, topic=topic, last=loop.index % 3 == 1)}}
    {%- endfor -%}
</ul>
{%- endblock -%}

{%- block app_content_footer -%}
{%- if is_paginated -%}{{ pagination(page_obj, request) }}{%- endif -%}
{%- endblock -%}