<%inherit file="../sidebar.html" />

<%block name="left_side">
<div class="row">
    % for num in range(0,2):
    <div class="span31 <% if num == 0: context.write('offset1') %>">
        % for poll in polls[num::2]:
        <div class="poll">
            <form action="/colloquium/poll/${ poll.id }/" class="mb3" method="post">
                <%doc>TODO: HUGE OPTIMIZATIONS NEEDED!!!</%doc>
                % if request.user and request.user.is_authenticated() and poll.user_has_voted_fn(request.user):
                <%
                votes = poll.get_votes()
                overall = sum(votes.values())
                %>\
                <fieldset>
                    <input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }" />
                    <ul>
                        <li class="first"><h6>${ poll.title }</h6></li>
                        % for option in poll.options.all():
                        <li>${ option.option } &mdash; ${ votes.get(option.pk) } &mdash; ${ 100* (votes.get(option.pk) / overall ) }%</li>
                        % endfor
                        <li><button type="submit">Голосовать</button></li>
                    </ul>
                </fieldset>
                % else:
                <fieldset>
                    <input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }" />
                    <ul>
                        <li class="first"><h6>${ poll.title }</h6></li>
                        % for option in poll.options.all():
                        <li><input name="poll.${ poll.id }" id="poll-${ poll.id }-option-${ option.id }" type="<% context.write('checkbox') if poll.allow_multiple else context.write('radio') %>" value="${ option.id }"><label for="poll-${ poll.id }-option-${ option.id }">${ option.option }</label></li>
                        % endfor
                        <li><button type="submit">Голосовать</button></li>
                    </ul>
                </fieldset>
                % endif
            </form>
        </div>
        % endfor
    </div>
    % endfor
</div>
</%block>