a.unislider-navi {
    position: absolute;
    top: 95px;
    font-size: 22px;
    font-weight: normal;
    text-decoration: none;
}
a.unislider-navi.prev {
    left: 220px;
}
a.unislider-navi.next {
    right: 0;
}

.top-bloggers-wrapper {
    overflow: hidden;
    height: 150px;
    width: 720px;
    position: relative;
    left: 35px;
}

.top-bloggers {
    @include micro-clearfix;
    font-family: "a_AvanteTckMedium";
    position: relative;
    padding: 0;
    left: 0;
    li {
        display: block;
        float: left;
        //width: 190px;
        width: 180px;

        /* bloggerface */
        img {
            height: 88px;
            width: 150px;
            padding-bottom: 10px;
            display: block;
            margin: 0 auto;
        }

        h5 {
            //padding: 0 20px;
            padding: 0 15px;
        }

        h6 {
            //padding: 3px 20px 0 20px;
            padding: 3px 15px 0 15px;
            font-family: Arial, sans-serif;
            color: black;

            a {
                //word-break: break-all;
            }

            em {
                font-weight: bold;
                font-style: normal;
                white-space: nowrap;
            }
        }
    }
}

.top-videos {
    font-family: "a_AvanteTckMedium";
    //margin: 30px 0;

    li { float: left; margin: 5px; }

    .slider {
        @extend %greyborder;
        overflow: hidden;
        height: 370px;
        width: 990px;
    }

    .videos { width: 9000px; float: left; }

    .thumbnail {
        //float: left;
        display: table-cell;
        width: 640px;

        a {
            position: relative;
            display: block;
            width: 640px;
            height: 360px;
            overflow: hidden;
        }
        img {
            display: block;
            //position: absolute;
            //top: -100px;
            //top: -50px;
        }
    }

    .triangle {
        border-right: 39px solid white;
        border-top: 39px solid transparent;
        border-bottom: 39px solid transparent;
        height: 0;
        width: 0;
        position: absolute;
        top: 150px;
        right: 0px;
    }

    .text {
        @extend %verticalblock;
        color: #413334;
        padding: 0 20px 0 8px;
        width: 312px;
        height: 360px;
        text-align: right;
        line-height: 1.3;
        display: table-cell;
        h2 { text-transform: uppercase; }
        p { margin-top: 30px; font-size: 14px; }
    }

    .pager {
        $indicatorWidth:  sprites-sprite-width(videothumb-thumb);
        $indicatorHeight: sprites-sprite-height(videothumb-thumb);
        width: 272px;
        margin: 10px auto;
        @include micro-clearfix;
        li {
            float: left;
            display: block;
            margin-right: 11px;
            width: $indicatorWidth;
            height: $indicatorHeight;
            a {
                @include sprites-sprite(videothumb-thumb);
                width: $indicatorWidth;
                height: $indicatorHeight;
                display: block;
                &.selected {
                    @include sprites-sprite(videothumb-selected-thumb);
                }
            }
        }
    }

}

.main-projects {
    width: 990px;
    margin: 0 0 20px 0;
    border: 1px solid #cecccc;
    @include micro-clearfix;
    @include sprites-sprite(sssr-vs-empire);
    font-family: 'a_AvanteTckMedium';

    li {
        width: 490px;
        height: 50px;
        line-height: 49px;
        float: left;
        position: relative;

        &.red-project {
            text-align: right;
            a {
                padding-right: 30px;
            }
        }

        &.white-project {
            a {
                padding-left: 30px;
                color: black;
                //color: #801818;
                //text-shadow: #8a5026 0 1px 0;
            }
        }

        a {
            @extend %verticalblock;
            text-shadow: #8a5026 0 1px 0;
            text-transform: uppercase;
            font-size: 16px;
            color: #fffdea;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: block;
            padding-left: 21px;
        }
    }
}

.live {
    width: 990px;
    height: 370px;

    iframe {
        width: 640px;
        height: 360px;
    }

    .grid {
        font-family: "a_AvanteTckMedium";
        float: right;
        width: 340px;

        h2 {
            font-size: 28px;
            margin-bottom: 8px;
        }

        table {
            float: right;
            font-size: 14px;
            width: 280px;
            border-collapse: collapse;
            line-height: 1.5em;

            td {
                vertical-align: middle;
            }

            .current {
                font-size: 18px;

                td {
                    border-bottom: 1px solid goldenrod;
                    border-top: 1px solid goldenrod;
                }

                .isnow {
                    span {
                        background-color: goldenrod;
                        color: white;
                        font-size: 12px;
                    }
                }

                .dt {
                    color: goldenrod;
                }
            }
        }
    }
}
