.mejs-clear {
    clear: both;
}

.mejs-container.mejs-pahom {
    position: relative;
    font-family: Arial;
}

.mejs-plugin {
    position: absolute;
}

.mejs-mediaelement {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mejs-overlay {
    position: absolute;
    top: 0;
    left: 0;
}

.mejs-overlay-play {
    cursor: pointer;
}

.mejs-embed, .mejs-embed body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #000;
    overflow: hidden;
}

.mejs-container-fullscreen {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 1000;

    .mejs-mediaelement,
    video {
        width: 100%;
        height: 100%;
    }
}

.mejs-overlay-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    margin: -40px 0 0 -40px;
    background: #333;
    background: url('/static/images/background.png');
    background: rgba(0, 0, 0, 0.9);
    // TODO: replace with compass-gradient generator
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(50,50,50,0.9)), to(rgba(0,0,0,0.9)));
    background: -webkit-linear-gradient(top, rgba(50,50,50,0.9), rgba(0,0,0,0.9));
    background: -moz-linear-gradient(top, rgba(50,50,50,0.9), rgba(0,0,0,0.9));
    background: -o-linear-gradient(top, rgba(50,50,50,0.9), rgba(0,0,0,0.9));
    background: -ms-linear-gradient(top, rgba(50,50,50,0.9), rgba(0,0,0,0.9));
    background: linear-gradient(rgba(50,50,50,0.9), rgba(0,0,0,0.9));

    span {
        display: block;
        width: 80px;
        height: 80px;
        background: transparent url('/static/images/loading.gif') 50% 50% no-repeat;
    }
}

.mejs-embedhtml {
    text-align: right;

    button {
        border: none;
        background: none;
        color: #592F1A;
        border-bottom: 1px dotted #592F1A;
        padding: 0 0 1px 0;
        margin: 0 5px 0 0;
        cursor: pointer;
        font-size: 11px;
        text-align: right
    }

    textarea {
        width: 100%;
        height: 50px;
        overflow: hidden;
    }
}

.mejs-pahom {
    margin-bottom: 5px;

    .mejs-layers {
        .mejs-poster {
            //position: relative;
            overflow: hidden;
            width: 640px;
            height: 360px;

            img {
                //position: absolute;
                width: 640px;
                height: 360px;
                //top: -100px;
                display: block;
            }
        }
    }

    .mejs-controls {    
        background-image: url("/static/images/player.background.jpg");
        width: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        -o-background-size: 100% 100%, auto;
        -moz-background-size: 100% 100%, auto;
        -webkit-background-size: 100% 100%, auto;
        background-size: 100% 100%, auto;
        height: 48px;
        position: absolute;
        margin: 0;
        padding: 0;
        left: 0;
        bottom: 0;
        list-style-type: none;

        div {
            list-style-type: none;
            display: block;
            float: left;
            margin: 0;
            padding: 0;
            border: none;
        }

        .mejs-button,
        .mejs-time {
            position: absolute;
            cursor: pointer;
            display: block;
            //background: #ddd;

            button {
                border: none;
            }
        }

        .mejs-time {
            top: 20px;
            left: 333px;
        }

        .mejs-time-rail {
            height: 13px;
            padding-top: 0;
            margin-top: -4px;
            
            .mejs-time-total {
                position: absolute;
                background-color: #7d6264;
                height: 5px;
            }

            .mejs-time-loaded {
                background-color: #423233;
                width: 0;
                height: 5px;
                float: left;
                z-index: 666;
                position: absolute;
                left: 0;
                top: 0;
            }

            .mejs-time-current {
                width: 0;
                height: 5px;
                background-color: #9b4d39;
                float: left;
                z-index: 1488;
                position: absolute;
                left: 0;
                top: 0;
            }

            .mejs-time-handle  {
                display: block;
                margin: 0;
                width: 22px;
                height: 15px;
                top: -5px;
                border: 0;
                @include sprites-sprite(player-playhead);
                position: absolute;
                z-index: 1812;
            }
            
            .mejs-time-float { 
                display: none;
            }
        }

        .mejs-playpause-button {
            width: 7px;
            height: 11px;
            top: 20px;
            left: 180px;

            button {
                width: 7px;
                height: 11px;
                @include sprites-sprite(player-play);
                margin: 0;
                padding: 0;
            }
        }

        .mejs-pause {
            button  {
                @include sprites-sprite(player-pauseButton);
            }
        }

        .mejs-fullscreen-button  {
            width: 17px;
            height: 15px;
            background : none;
            top: 20px;
            left: 480px;

            button {
                width: 17px;
                height: 15px;
                //background: transparent url(fullscreenButton.png) no-repeat;
                @include sprites-sprite(player-fullscreenButton);
                background-color: transparent;
                margin: 0;
                padding: 0;
            }
        }

        .mejs-unfullscreen {
            button {
                //background: transparent url(fullscreenButton.png) no-repeat;
                @include sprites-sprite(player-fullscreenButton);
                background-color: transparent;
                margin: 0;
                padding: 0;
            }
        }

        .mejs-volume-button  {
            width: 10px;
            height: 11px;
            top: 20px;
            left: 210px;
        }

        .mejs-mute button {
            //background: url(sound.png) no-repeat;
            @include sprites-sprite(player-sound);
            width: 10px;
            height: 11px;
            margin: 0;
            padding: 0;
        }

        .mejs-unmute button {
            @include sprites-sprite(player-sound);
            width: 10px;
            height: 11px;
            margin: 0;
            padding: 0; 
        }

        .mejs-horizontal-volume-slider {
            position: absolute;
            width: 80px;
            height: 11px;
            top: 22px;
            left: 230px;
        }

        .mejs-horizontal-volume-total {
            background: #726c68;
            left: 8px;
            width: 80px;
            height: 6px;
        }

        .mejs-horizontal-volume-current {
            left: 8px;
            width: 50px; 
            background: #964c3c;
            height: 6px;
            margin-top: -6px;
        }

        .mejs-horizontal-volume-handle {
            width: 3px;
            height: 8px;
            //margin-top: -10px;
            background: #ecce70;
            position: absolute;
            top: -1px;
            cursor: pointer;
            /*display: none;*/
        }

        .mejs-time span {
            font-family: Arial;
            font-size: 14px;
            color: #fff;
        }

        .mejs-time {
            padding: 0;
            float: left;
            margin-top: -2px;

            button {
                color: #333;
            }
        }

        .mejs-currenttime-container  {
            position: absolute;
            top: 32px;
            right: 100px;
            border: solid 1px #999;
            background: #fff;
            color: #333;
            padding-top: 2px;
            border-radius: 3px;
            color: #333;
        }

        .mejs-duration-container  {
            position: absolute;
            top: 32px;
            right: 65px;
            border: solid 1px #999;
            background: #fff;
            color: #333;
            padding-top: 2px;
            border-radius: 3px;
        }

        .mejs-captions-button {
            display: none;
        }

        .mejs-sourcechooser-button {
            //background: url(720.png) no-repeat;
            //@include sprites-sprite(player-720);
            position: absolute;
            //width: 20px;
            //height: 11px;
            margin: 0 6px;
            top: 20px;
            left: 435px;

            button {
                background: none;
                float: left;
                margin: -2px 0 0 0;
                color: #fff;
                padding: 0;
            }

            .mejs-sourcechooser-selector {
                visibility: hidden;
                position: absolute;
                bottom: 26px;
                right: -10px;
                //width: 130px;
                //height: 100px;
                background-color: rgba(50,50,50,0.7);
                border: solid 1px transparent;
                padding: 10px;
                overflow: hidden;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                border-radius: 0;
            
                ul {
                    margin: 0;
                    padding: 0;
                    display: block;
                    list-style-type: none !important;
                    overflow: hidden;
                
                    li {
                        margin: 0 0 6px 0;
                        padding: 0;
                        list-style-type: none !important;
                        display: block;
                        color: #fff;
                        overflow: hidden;
 
                        input {
                            clear: both;
                            float: left;
                            margin: 3px 3px 0 5px;
                        }

                        label {
                            width: 100px;
                            float: left;
                            padding: 4px 0 0 0;
                            line-height: 15px;
                            font-family: Arial;
                            font-size: 10px;
                        }
                    }
                }
            }
        }

        .mejs-separator-1 {
            top: 7px;
            left: 195px;
        }

        .mejs-separator-2 {
            top: 7px;
            left: 315px;    
        }

        .mejs-separator-3 {
            top: 7px;
            left: 410px;    
        }

        .mejs-separator-left {
            width: 7px;
            height: 39px;
            //background: url(separator.png) no-repeat;
            @include sprites-sprite(player-separator);
            position: absolute;
        }

        .mejs-separator-right {
            position: absolute;
            width: 7px;
            height: 39px;
            //background: url(separator.png) no-repeat;
            @include sprites-sprite(player-separator);
            -webkit-transform: rotate(-180deg) translateX(-10px);
            -moz-transform: rotate(-180deg) translateX(-10px);
            -o-transform: rotate(-180deg) translateX(-10px);
        }
    }

    .mejs-overlay-button {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 115px;
        height: 115px;
        margin: -58px 0 0 -58px;
        //background: url(playSplash.png) no-repeat;
        @include sprites-sprite(player-playSplash-2);
    }

    .mejs-overlay:hover .mejs-overlay-button {
        //background: url(playSplash.png) no-repeat;
        @include sprites-sprite(player-playSplash-2);
    }

}

div.mejs-sourcechooser-selector ul li.me-js-source-active {
    background-color: #7d6264;
}

div.mejs-sourcechooser-selector ul li {
    cursor: pointer;
}