.program-logo-placeholder {
    display: block;
    width: 750px;
    height: 88px;
    padding-bottom: 10px;
}

.entryparts {
    padding: 4px;

    .content {
        font-size: 12px;
        color: #413334;
        font-family: Arial;
    }
    .info {
        color: #592f1a;
        border-bottom: 1px dotted #676061;
        margin: 0 10px;
        padding-bottom: 1px;
        @include micro-clearfix;
    }

    dl {
        padding: 10px 0;
    }

    .rating {
        float: left;
        border-right: 1px solid #f6f4f3;
        padding: 0 20px 0 0;
        margin: 10px 20px 10px 0;

        dt {
            font-size: 11px;
            line-height: 18px;
            height: 15px;

            .icon {
                margin-right: 4px;
                display: inline-block;
                border-right: 1px solid #f6f4f3;
                height: 11px;
                width: 16px;
                @include sprites-sprite(rating-icon);
            }
        }
        
        dd {
            @include sprites-sprite(rating-star);
            width: 57px;
            height: 57px;
            font-size: 14px;
            margin-top: 5px;
            margin-left: 3px;

            span {
                left: 11px;
                top: 11px;
                width: 35px;
                height: 35px;
                line-height: 35px;
            }

            a, span {
                position: relative;
                display: block;
                text-align: center;
            }

            a { @include fullsprite(rating-button); left: 53px; line-height: 24px; font-size: 19px; }
            a:hover { text-decoration: none; }
            a.vote-up { top: -35px; text-indent: -1px; }
            a.vote-down { top: -29px; line-height: 20px; }
        }
    }
    .tags {
        font-size: 11px;
        float: left;
        width: 500px;

        ul {
            @include micro-clearfix;
        }

        li {
            float: left;
            display: block;
            line-height: 13px;
            font-size: 10px;
            padding-left: 8px;
            margin-top: 6px;
            @include sprites-sprite(tags-back-left);
            a {
                display: inline-block;
                padding-right: 8px;
                background: inline-image("tags-back-right.png") no-repeat right top;
            }
        }

        dt {
            height: 10px;
            .icon {
                width: 19px;
                height: 9px;
                display: inline-block;
                border-right: 1px solid #f6f4f3;
                margin-right: 4px;
                padding-right: 4px;
                @include sprites-sprite(tags-badge);
            }
        }
        dd {
            margin: 0;
        }
    }
    .social {
        margin: 10px 0;
        .socialite { float: left; display: block; padding: 10px; width: auto; }
    }
}

.links {
    dd {
        margin-left: 8px;
        padding-left: 8px;
        border-left: 1px solid #cecccc;
    }
}

.participants {
    line-height: 18px;

    dd {
        @include micro-clearfix;
        margin-left: 0;

        .avatar {
            @extend %greyseparator;
            background-position: bottom center;
        }

        h6, p { padding: 4px 8px; }
        p { font-size: 10px; line-height: 1.2; }

        ul { float: left; display: block; }
        li {
            @extend %greyborder;
            float: left;
            display: block;
            margin-bottom: 10px;
            width: 150px;

            &.odd { clear: left; margin-right: 10px; }

            a {
                display: block;
                width: 150px;
                padding-bottom: 10px;
            }
        }
    }
}

.text-over-image {
    position: relative;
    margin-bottom: 10px;

    .image {
        a {
            display: block;
            line-height: 0;
        }
    }

    .text {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 1.2em;
        font-weight: bold;
        background-color: rgba(220,213,206,0.8);
        padding: 0.5em;
    }
}