.profile {
    @include micro-clearfix;
    font-family: "a_AvanteTckMedium";
    
    & > div {
        float: left;
        &.third { width: 330px; }
        &.two-thirds { width: 660px; }

        & > h4 { padding-top: 30px; padding-bottom: 10px; }
        & > h4:first-child { padding-top: 0; }

        & > img { display: block; padding-bottom: 10px; }
    }

    .video-tiles { padding-top: 0; }
    .video-tile-small:first-child { margin-left: 0; }
    .video-tiles h6 a { color: black; }

    .pages .indicator.top { display: none; }

    table {
        @extend %tinytext;
        padding-right: 8px;
        width: auto;
        tr:last-child td {
            border-bottom: none;
        }
        td {
            border-bottom: 1px dotted #b8aca6;
            vertical-align: top;
            padding: 4px 0;
        }
        .key { padding-right: 20px; width: 80px; }
    }
}

#account_form input.submit {
    @include fullsprite(save-button);
    text-indent: -9999px;
    cursor: pointer;
}